.person-list .image-container {
	width: 180px;
}

.person-list > img {
  margin: 5px;
  display: inline-block;
}
.person-list .image-container {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

.person-list .image-container .overlay {
	position: relative;
}

.person-list .overlay span {
	line-height: 20px;
}

.image-container1 {
	margin: 10px;
}

.pritem .prtitle {
	font-weight: bold;
}

.pritem {
	font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	line-height: 30px;
}
