<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.ApartmentMapper">

    <select id="findAll" resultMap="ApartmentMap">
        select * from citizen;
    </select>

    <resultMap type="Apartment" id="ApartmentMap">
        <id property="id" column="id" />
        <result property="floor" column="floor" />
        <result property="location" column="location" />
        <result property="owner" column="owner" />
        <result property="resident" column="resident" />
        <result property="serialNumber" column="serial_number" />
    </resultMap>

</mapper>