<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.ApartmentMapper">

    <select id="findAll" resultMap="ApartmentMap">
        select * from apartment;
    </select>

    <select id="findAllByBuildingId" resultMap="ApartmentMap">
        SELECT *
        FROM apartment
        WHERE building_id = #{buildingId}
    </select>

    <select id="findAllCitizenByApartmentId" resultMap="cn.edu.sjtu.se.dclab.server.mapper.CitizenMapper.CitizenMap">
        SELECT *
        FROM citizen
        WHERE apartment_id = #{id}
    </select>

    <resultMap type="Apartment" id="ApartmentMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="serialNumber" column="serial_number" />
        <result property="area" column="area" />
        <association property="owner" javaType="Citizen">
            <id property="id" column="owner_id" />
        </association>
        <association property="tenant" javaType="Citizen">
            <id property="id" column="tenant_id" />
        </association>
        <association property="building" javaType="Building">
            <id property="id" column="building_id" />
        </association>
    </resultMap>

</mapper>