<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.BBSMapper">

	<select id="findAll" resultMap="BBSPostMap">
		select * from bbs_post;
	</select>

	<resultMap type="BBSPost" id="BBSPostMap">
		<id property="id" column="bbs_post_id" />
		<result property="communityId" column="bbs_community_id" />
		<result property="title" column="bbs_post_title" />
		<result property="type" column="bbs_post_type" />
		<result property="posterId" column="bbs_poster_id" />
		<result property="replyNums" column="bbs_reply_nums" />
		<result property="goodNums" column="bbs_good_nums" />
		<result property="content" column="bbs_content" />
	</resultMap>

</mapper>