<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.BBSMapper">

	<select id="findAll" resultMap="BBSPostMap">
		select * from bbs_post;
	</select>

	<select id="findBbsPostById" resultMap="BBSPostMap">
		select * from bbs_post where bbs_post_id=#{id};
	</select>

	<select id="findBbsRepliesByPostId" resultMap="BBSReplyMap">
		select * from bbs_reply where bbs_post_id=#{post_id} and bbs_another_reply_id=1;
	</select>

	<insert id="save" useGeneratedKeys="true" keyColumn="bbs_post_id" keyProperty="id" parameterType="BBSPost">
		INSERT INTO bbs_post
		(bbs_community_id,bbs_post_title, bbs_post_type, bbs_poster_id, bbs_reply_nums, bbs_good_nums, bbs_content)
		VALUES
		(#{communityId}, #{title}, #{type}, #{posterId}, #{replyNums}, #{goodNums},
		#{content});
	</insert>

	<insert id="saveReply" useGeneratedKeys="true" keyColumn="bbs_reply_id" keyProperty="id" parameterType="BBSReply">
		INSERT INTO bbs_reply
		(bbs_post_id,bbs_reply_id, bbs_replier_id, bbs_reply_time, bbs_reply_content, bbs_another_reply_id)
		VALUES
		(#{bbs_post_id}, #{bbs_reply_id}, #{bbs_replier_id}, #{bbs_reply_time}, #{bbs_reply_content}, #{bbs_another_reply_id});
	</insert>

	<!--保存回复的回复-->
	<insert id="saveReplyReply" useGeneratedKeys="true" keyColumn="bbs_reply_id" keyProperty="id" parameterType="BBSReply">
		INSERT INTO bbs_reply
		(bbs_post_id,bbs_reply_id, bbs_replier_id, bbs_reply_time, bbs_reply_content, bbs_another_reply_id)
		VALUES
		(#{bbs_post_id}, #{bbs_reply_id}, #{bbs_replier_id}, #{bbs_reply_time}, #{bbs_reply_content}, #{bbs_another_reply_id});
	</insert>

	<resultMap type="BBSPost" id="BBSPostMap">
		<id property="id" column="bbs_post_id" />
		<result property="communityId" column="bbs_community_id" />
		<result property="title" column="bbs_post_title" />
		<result property="type" column="bbs_post_type" />
		<result property="posterId" column="bbs_poster_id" />
		<result property="replyNums" column="bbs_reply_nums" />
		<result property="goodNums" column="bbs_good_nums" />
		<result property="content" column="bbs_content" />
	</resultMap>
	<resultMap type="BBSReply" id="BBSReplyMap">
		<id property="bbs_reply_id" column="bbs_reply_id" />
		<result property="bbs_post_id" column="bbs_post_id" />
		<result property="bbs_replier_id" column="bbs_replier_id" />
		<result property="bbs_reply_time" column="bbs_reply_time" />
		<result property="bbs_reply_content" column="bbs_reply_content" />
		<result property="bbs_another_reply_id" column="bbs_another_reply_id" />
	</resultMap>
</mapper>