<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.BlockInfoMapper">
	
	<select id="getInfoByManager" parameterType="java.lang.String" resultMap="block_infoResultMap">
		select * from block_info where block_manager_name=#{id};
	</select>
	
	<resultMap type="Block_info" id="block_infoResultMap">
		<id property="name" column="block_name" />
		<result property="manager" column="block_manager_name" />
	</resultMap>

</mapper>