<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.BuildingMapper">

    <select id="findAll" resultMap="BuildingMap">
        select * from building;
    </select>

    <resultMap type="Building" id="BuildingMap">
        <id property="id" column="building_id" />
        <result property="name" column="name" />
    </resultMap>

</mapper>