<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.FsrelationMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.sjtu.se.dclab.server.entity.Fsrelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="actp" property="actp" jdbcType="VARCHAR" />
    <result column="passp" property="passp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, actp, passp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fsrelation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fsrelation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.sjtu.se.dclab.server.entity.Fsrelation" >
    insert into fsrelation (id, actp, passp
      )
    values (#{id,jdbcType=INTEGER}, #{actp,jdbcType=VARCHAR}, #{passp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.sjtu.se.dclab.server.entity.Fsrelation" >
    insert into fsrelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="actp != null" >
        actp,
      </if>
      <if test="passp != null" >
        passp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actp != null" >
        #{actp,jdbcType=VARCHAR},
      </if>
      <if test="passp != null" >
        #{passp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.sjtu.se.dclab.server.entity.Fsrelation" >
    update fsrelation
    <set >
      <if test="actp != null" >
        actp = #{actp,jdbcType=VARCHAR},
      </if>
      <if test="passp != null" >
        passp = #{passp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.sjtu.se.dclab.server.entity.Fsrelation" >
    update fsrelation
    set actp = #{actp,jdbcType=VARCHAR},
      passp = #{passp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>