<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.GroupMapper">

	<select id="findByUserId" parameterType="long" resultMap="GroupMap">
		SELECT g.group_id, g.name, g.count, g.status, g.owner, g.create_time 
		FROM `group` g, user_group ug 
		WHERE g.group_id = ug.group_id AND ug.user_id = #{userId};
	</select>
	
	<insert id="save" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `group` (name, count, status, owner, create_time)
		VALUES(#{name}, #{count}, #{status}, #{owner}, #{createTime});
	</insert>
	
	<select id="findById" parameterType="long" resultMap="GroupMap">
		SELECT * FROM `group` 
		WHERE group_id = #{groupId};
	</select>
	
	<update id="update" parameterType="java.lang.Long">
		UPDATE `group` SET name = #{name}, count = #{count}, status = #{status}
		WHERE group_id = #{id};
	</update>
	
	<select id="findUsersById" resultType="long">
	    SELECT user_id FROM user_group WHERE group_id = #{groupId};
	</select>

	<select id="findMemberlistById" resultMap="UserMap">
		SELECT user.user_id,user.username,user.name,user.image FROM user join user_group on user.user_id=user_group.user_id WHERE group_id = #{groupId};
	</select>

	<resultMap type="Group" id="GroupMap">
		<id property="id" column="group_id" />
		<result property="name" column="name" />
		<result property="count" column="count" />
		<result property="status" column="status" />
		<result property="owner" column="owner" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<resultMap type="User" id="UserMap">
		<id property="id" column="user_id" />
		<result property="username" column="username" />
		<result property="name" column="name" />
		<result property="image" column="image" />
	</resultMap>

</mapper>