<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.MailBoxMapper">

    <select id="findAllByUser" resultMap="MailBoxMap">
        SELECT id, `from`, `to`, content, submited_date
        FROM mailbox
        WHERE `from` = #{userId} or `to` = #{userId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="MailBox">
        INSERT INTO mailbox (`from`, `to`, submited_date, content)
        VALUES (#{from}, #{to}, #{submitedDate}, #{content})
    </insert>

    <resultMap id="MailBoxMap" type="MailBox">
        <id property="id" column="id" />
        <result property="from" column="from" />
        <result property="to" column="to" />
        <result property="content" column="content" />
        <result property="submitedDate" column="submited_date" />
    </resultMap>
</mapper>