<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.ManagementCitizenMapper">

	<select id="findAll" resultMap="ManagementCitizenMap">
		select * from citizen_management;
	</select>
	
	<select id="findById" resultMap="ManagementCitizenMap">
		select * from citizen_management where citizen_id = #{id};
	</select>
	
	<select id="findByUserId" parameterType="long" resultMap="ManagementCitizenMap">
		SELECT * FROM citizen_management where user_id = #{userId};
	</select>

    <resultMap id="ManagementCitizenMap" type="ManagementCitizen">
        <id property="id" column="citizen_id" />
        <result property="name" column="name" />
        <result property="identificationType" column="identification_type" />
        <result property="identificationValue" column="identification_value" />
        <result property="gender" column="gender" typeHandler="GenderHandler" />
        <result property="age" column="age" />
        <result property="status" column="status" />
        <result property="phone" column="phone" />
        <association property="user"
                     resultMap="cn.edu.sjtu.se.dclab.server.mapper.UserMapper.UserMap" />
    </resultMap>
</mapper>