<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.PermissionMapper">
	
	<select id="findPermissionsByUserId" resultMap="permissionResultMap">
		select p.permission_id, p.name, p.description from user_role ur, user_role_permission urp,permission p
				where p.permission_id = urp.permission_id and urp.user_role_id = ur.user_role_id and ur.user_id = #{userId};
		SELECT 
	</select>

	<resultMap id="permissionResultMap" type="Permission">
		<id property="id" column="permission_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
	</resultMap>
</mapper>