<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.RoleMapper">

    <select id="findAll" resultMap="RoleMap">
        SELECT id, name, description
        FROM role
    </select>

    <resultMap id="RoleMap" type="Role">
        <id property="id" column="user_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
    </resultMap>
</mapper>