<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.RoleMapper">

	<select id="findAll" resultMap="RoleMap">
		SELECT id, name, description
		FROM role
	</select>

	<select id="findByUserId" parameterType="long" resultMap="RoleMap">
		SELECT r.role_id, r.name, r.description, r.role_type_id, rt.role_type_id, rt.type 
		FROM role r, user_role ur, role_type rt 
		WHERE ur.role_id = r.role_id AND r.role_type_id = rt.role_type_id AND ur.user_id = #{id};
	</select>

	<select id="findOne" resultMap="RoleMap">
		SELECT * FROM role WHERE id = #{id}
	</select>

	<resultMap id="RoleMap" type="Role">
		<id property="role_id" column="role_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		
		<association property="roleType" resultMap="RoleTypeMap" />
	</resultMap>
	
	<resultMap type="RoleType" id="RoleTypeMap">
		<id property="id" column="role_type_id" />
		<result property="type" column="type" />
	</resultMap>
	
</mapper>