<?mybatis version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.RoleMapper">

	<select id="findAll" resultMap="RoleMap">
		SELECT id, name, description
		FROM role
	</select>

	<select id="findByUserId" parameterType="long" resultMap="RoleMap">
		SELECT r.id, r.name, r.description FROM role r, user_role ur WHERE ur.role_id =
		r.id AND ur.user_id = #{id};
	</select>

	<resultMap id="RoleMap" type="Role">
		<id property="id" column="user_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
	</resultMap>
</mapper>