<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.SecondGoodsMapper">

	<select id="getSecondGoodsById" parameterType="java.lang.Integer" resultMap="secondGoodsResultMap">
		select * from second_goods where goods_id=#{goods_id};
	</select>
	
	<select id="getAllSecondGoods" parameterType="java.lang.Integer" resultMap="secondGoodsResultMap">
		select * from second_goods;
	</select>
	
	<select id="getMaxGoodsId" resultType="java.lang.Integer">
		select max(goods_id) from second_goods;
	</select>
	
	<select id="searchGoodsByCategory" parameterType="java.lang.String" resultMap="secondGoodsResultMap">
		select * from second_goods where title like CONCAT('%',#{title},'%') ;
	</select>
	
	<insert id="createSecondGoods" parameterType="SecondGoods">
		insert into second_goods (goods_id,category,type,title,imagePath,`desc`,owner,phone) 
			values (#{goods_id},#{category},#{type},#{title},#{imagePath},#{desc},#{owner},#{phone});
		<selectKey resultType="int">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	

	<resultMap type="SecondGoods" id="secondGoodsResultMap">
		<id property="id" column="goods_id" />
		<result property="category" column="category" />
		<result property="type" column="type" />
		<result property="title" column="title" />
		<result property="imagePath" column="imagePath" />
		<result property="desc" column="desc" />
		<result property="owner" column="owner" />
		<result property="phone" column="phone" />
	</resultMap>
	
</mapper>