<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder">
		<beans:constructor-arg value="dclab@sjtu" />
	</beans:bean>

	<beans:bean id="unauthorizedEntryPoint"
		class="cn.edu.sjtu.se.dclab.server.security.UnauthorizedEntryPoint" />

<!-- 
	<beans:bean id="successHandler"
		class="cn.edu.sjtu.se.dclab.server.security.MySavedRequestAwareAuthenticationSuccessHandler">
	</beans:bean>

	<beans:bean id="failureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
	</beans:bean>

	<beans:bean id="securityDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="${driverClassName}"></beans:property>
		<beans:property name="url" value="${url}"></beans:property>
		<beans:property name="username" value="${username}"></beans:property>
		<beans:property name="password" value="${password}"></beans:property>
	</beans:bean>
 -->	
	<beans:bean id="userService" class="cn.edu.sjtu.se.dclab.server.service.impl.UserServiceImpl" />

	<authentication-manager id="authenticationManager">
		<authentication-provider user-service-ref="userService">
			
			<password-encoder ref="passwordEncoder" />
			
			<!-- <jdbc-user-service data-source-ref="securityDataSource"
				users-by-username-query="select username,password,enabled from user where username=?"
				authorities-by-username-query="select u.username,p.name from user u,user_role ur, user_role_permission rp,permission p
				where ur.user_id = u.id and rp.user_role_id = ur.id and rp.permission_id = p.id and u.username = ?" /> -->
		</authentication-provider>
	</authentication-manager>

	<http entry-point-ref="unauthorizedEntryPoint" use-expressions="true" auto-config="false" access-denied-page="/users/accessDenied" authentication-manager-ref="authenticationManager">
		<!--
		<intercept-url pattern="/rest/users/login" access="permitAll" />
		<intercept-url pattern="/login/resident" access="permitAll" />
		<intercept-url pattern="/login/committee" access="permitAll" />
		<intercept-url pattern="/login/tenement" access="permitAll" />
		<intercept-url pattern="/users/accessDenied" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		
		<intercept-url pattern="/start-screen-committee" access="hasRole('start-screen-committee')" />
		<intercept-url pattern="/start-screen-resident" access="hasRole('start-screen-resident')" />
		<intercept-url pattern="/start-screen-tenement" access="hasRole('start-screen-tenement')" />
		<intercept-url pattern="/start-screen-owner" access="hasRole('start-screen-owner')" />
		
		<intercept-url pattern="/committee/manage" access="hasRole('committee/manage')" />
		<intercept-url pattern="/committee/notice" access="hasRole('committee/notice')" />
		<intercept-url pattern="/committee/apartment" access="hasRole('committee/apartment')" />
		<intercept-url pattern="/committee/citizen" access="hasRole('committee/citizen')" />
		<intercept-url pattern="/committee/topic" access="hasRole('committee/topic')" />
		
		<intercept-url pattern="/resident/committee" access="hasRole('resident/committee')" />
		<intercept-url pattern="/resident/owner" access="hasRole('resident/owner')" />
		<intercept-url pattern="/resident/tenement" access="hasRole('resident/tenement')" />
		<intercept-url pattern="/resident/notice" access="hasRole('resident/notice')" />
		<intercept-url pattern="/resident/neighbor" access="hasRole('resident/neighbor')" />
		<intercept-url pattern="/resident/topic" access="hasRole('resident/topic')" />
		<intercept-url pattern="/resident/market" access="hasRole('resident/market')" />
		<intercept-url pattern="/resident/repair" access="hasRole('resident/repair')" />
		<intercept-url pattern="/resident/activity" access="hasRole('resident/activity')" />
		<intercept-url pattern="/resident/setting" access="hasRole('resident/setting')" />
		<intercept-url pattern="/resident/user_position" access="hasRole('resident/user_position')" />
		
		<intercept-url pattern="/tenement/mailbox" access="hasRole('tenement/mailbox')" />
		<intercept-url pattern="/tenement/repair_manage" access="hasRole('tenement/repair_manage')" />
		<intercept-url pattern="/tenement/setting" access="hasRole('tenement/setting')" />
		
		<intercept-url pattern="/workreport" access="hasRole('workreport')" />
		<intercept-url pattern="/workreport/add" access="hasRole('workreport/add')" />
		
		<intercept-url pattern="/rest/apartment" access="hasRole('rest/apartment')" />
		<intercept-url pattern="/rest/apartment/[1-9]\d*/citizen" access="hasRole('rest/apartment/id/citizen')" />
		
		<intercept-url pattern="/buildings" access="hasRole('buildings')" />
		<intercept-url pattern="/buildings/[1-9]\d*/apartments" access="hasRole('buildings/id/apartments')" />
		
		<intercept-url pattern="/rest/managementCitizens/committee" access="hasRole('rest/managementCitizens/committee')" />
		<intercept-url pattern="/rest/managementCitizens/owner" access="hasRole('rest/managementCitizens/owner')" />
		<intercept-url pattern="/rest/managementCitizens/tenement" access="hasRole('rest/managementCitizens/tenement')" />
		<intercept-url pattern="/rest/managementCitizens" access="hasRole('rest/managementCitizens')" />
		<intercept-url pattern="/rest/managementCitizens/[1-9]\d*" access="hasRole('rest/managementCitizens/id')" />
		
		<intercept-url pattern="/rest/residentCitizens/[1-9]\d*" access="hasRole('rest/residentCitizens/id')" />
		
		<intercept-url pattern="/rest/serviceCitzens/[1-9]\d*" access="hasRole('rest/serviceCitzens/id')" />
		
		<intercept-url pattern="/rest/information/[^\s]+" access="hasRole('rest/information/type')" />
		<intercept-url pattern="/rest/information/[^\s]+/[1-9]\d*" access="hasRole('rest/information/type/id')" />
		<intercept-url pattern="/rest/information" access="hasRole('rest/information')" />
		
		<intercept-url pattern="/rest/roles" access="hasRole('rest/roles')" />
		<intercept-url pattern="/rest/roles/[1-9]\d*" access="hasRole('rest/roles/id')" />
		
		<intercept-url pattern="/rest/topic" access="hasRole('rest/topic')" />
		<intercept-url pattern="/rest/topic" method="POST" access="hasRole('rest/topic/POST')" />
		<intercept-url pattern="/rest/topic/[1-9]\d*" access="hasRole('rest/topic/id')" />
		<intercept-url pattern="/rest/topic/vote" access="hasRole('rest/topic/vote')" />
		
		<intercept-url pattern="/rest/users/hardwarelogin" access="permitAll" />
		<intercept-url pattern="/rest/users/username" access="hasRole('rest/users/username')" />
		<intercept-url pattern="/rest/users" method="POST" access="hasRole('rest/users/POST')" />
		<intercept-url pattern="/rest/users" method="PUT" access="hasRole('rest/users/PUT')" />
		
		<intercept-url pattern="/vote/create" access="hasRole('vote/create')" />
		<intercept-url pattern="/vote/all" access="hasRole('vote/all')" />
		
		<intercept-url pattern="/rest/work_report/[1-9]\d*" access="hasRole('rest/work_report/id')" />
		<intercept-url pattern="/rest/work_report/all" access="hasRole('/rest/work_report/all')" />
		<intercept-url pattern="/rest/work_report" access="hasRole('rest/work_report')" />
		-->
		<!-- <custom-filter ref="customAuthenticationProcessingFilter"
			position="FORM_LOGIN_FILTER" /> -->
	</http>

</beans:beans>