<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8" />
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <!-- Mobile viewport optimized: h5bp.com/viewport -->
   <meta name="viewport" content="width=device-width">

   <title>人口信息</title>

   <meta name="robots" content="noindex, nofollow">
   <meta name="description" content="MetroUI-Web : Simple and complete web UI framework to create web apps with Windows 8 Metro user interface." />
   <meta name="keywords" content="metro, metroui, metro-ui, metro ui, windows 8, metro style, bootstrap, framework, web framework, css, html" />
   <meta name="author" content="AozoraLabs by Marcello Palmitessa"/>
   
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootstrap.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootstrap-responsive.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro-tiles.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro-charms.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/metro-ui-light.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/icomoon.css}">

   <!--  these two css are to use only for documentation -->
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/demo.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/scripts/google-code-prettify/prettify.css}" >

   <!-- Le fav and touch icons -->
   <link rel="shortcut icon" th:href="@{/content/ico/favicon.ico}">
   <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/content/ico/apple-touch-icon-144-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/content/ico/apple-touch-icon-114-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/content/ico/apple-touch-icon-72-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" th:href="@{/content/ico/apple-touch-icon-57-precomposed.png}">

   <!-- All JavaScript at the bottom, except for Modernizr and Respond.
      Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
      For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
   <script th:src="@{/scripts/modernizr-2.6.1.min.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>

   <script language="javascript" type="text/javascript">
    $.extend({
     getUrlVars: function(){
       var vars = [], hash;
       var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
       for(var i = 0; i < hashes.length; i++)
       {
         hash = hashes[i].split('=');
         vars.push(hash[0]);
         vars[hash[0]] = hash[1];
       }
       return vars;
     },
     getUrlVar: function(name){
       return $.getUrlVars()[name];
     }
    });                                                                      // get message from url

    function Map() {
      var struct = function(key, value) {
        this.key = key;
        this.value = value;
      }
 
      var put = function(key, value){
        for (var i = 0; i < this.arr.length; i++) {
          if ( this.arr[i].key === key ) {
            this.arr[i].value = value;
          return;
          }
        }
        this.arr[this.arr.length] = new struct(key, value);
      }
 
      var get = function(key) {
        for (var i = 0; i < this.arr.length; i++) {
          if ( this.arr[i].key === key ) {
            return this.arr[i].value;
          }
        }
        return null;
      }
 
      var remove = function(key) {
        var v;
        for (var i = 0; i < this.arr.length; i++) {
          v = this.arr.pop();
          if ( v.key === key ) {
            continue;
          }
          this.arr.unshift(v);
        }
      }
 
      var size = function() {
        return this.arr.length;
      }
 
      var isEmpty = function() {
        return this.arr.length <= 0;
      } 
      this.arr = new Array();
      this.get = get;
      this.put = put;
      this.remove = remove;
      this.size = size;
      this.isEmpty = isEmpty;
    }

    $(function (){    
      var initializationTime=(new Date()).getTime();
      var manager_name = "admin";
      showLeftTime();
      getData();
      function showLeftTime()
      {
        var now=new Date();
        var year=now.getFullYear();
        var month=now.getMonth();
        var day=now.getDate();
        var hours=now.getHours();
        var minutes=now.getMinutes();
        var seconds=now.getSeconds();
        var timetable = ""+year+"年"+month+"月"+day+"日 ";
        if (hours < 10) 
          timetable += "0" + hours + ":";
        else
          timetable += hours + ":";
        if (minutes < 10)
          timetable += "0" + minutes + ":";
        else
          timetable += minutes + ":";
        if (seconds < 10)
          timetable += "0" + seconds + "";
        else
          timetable += seconds + "";
      
        document.all.showtime.innerHTML = timetable;
        var timeID=setTimeout(showLeftTime,1000);
      }

      function getData()
      {
        $.ajax(
        {
          url: "/community-server/rest/citizen",
          dataType: "JSON",
          type: "GET", 
          success: function (data) { 
            addToArray(data, "citizen_detail");
          }
        }
        )
      }

    })

    var arr1 = new Array();     //证件号
    var arr2 = new Array();     //姓名
    var arr3 = new Array();     //证件类型
    var arr4 = new Array();     //婚姻状况
    var arr5 = new Array();     //就业状况
    var arr6 = new Array();     //户口性质
    var arr7 = new Array();     //人户分离情况
    var arr8 = new Array();     //文化程度
    var arr9 = new Array();     //政治面貌
    var arr10 = new Array();    //民族
    var arr11 = new Array();    //性别
    var arr12 = new Array();    //侨情类别
    var arr13 = new Array();    //收入情况
    var arr14 = new Array();    //是否显示
    var arr15 = new Array();    //年龄
    var arr16 = new Array();	//电话
    

    var flag = 0;
    setTimeout("buildTable()",5000);

    function showTable()
    {
      searchTable();
      buildTable();
    }

    function addToArray(data, s_name)
    {
    	var i;
    	for (i = 0; i<data.length; i++){
      		arr1.push(data[i].identification_value.toString());       //证件号
      		arr2.push(data[i].name);                //姓名
      		arr3.push(data[i].identification_type);      //证件类型
      		arr4.push(data[i].marriage_status);      //婚姻状况
      		arr5.push(data[i].employment_status);    //就业状况
      		arr6.push(data[i].residence_category);       //户口性质
      		arr7.push(data[i].resident_status);     //人户分离情况
      		arr8.push(data[i].education_status);     //文化程度
      		arr9.push(data[i].politics_status);      //政治面貌
      		arr10.push(data[i].nation);             //民族
      		arr11.push(data[i].gender);             //性别
      		arr12.push(data[i].migration_status);   //侨情类别
      		arr13.push(data[i].income_status);     //收入情况
      		arr15.push(data[i].age);				// 年龄
      		arr16.push(data[i].phone);				//电话
      		
          arr14.push(1);
    	}
    }

    function buildTable()
    {
      document.getElementById("full_table").innerHTML = "<tr><th>证件号</th><th>姓名</th><th>证件类型</th><th>婚姻状况</th><th>就业状况</th><th>户口性质</th><th>人户分离情况</th><th>文化程度</th><th>政治面貌</th><th>民族</th><th>性别</th><th>侨情类别</th><th>收入情况</th><th>年龄</th><th>电话</th></tr>";

      if (arr1.length == 0)
    	  document.getElementById("full_table").innerHTML += "<tr><th colspan=\"13\">无符合条件的结果</th></tr>";
      else
      {
        var i; var node;
        var count = 0;
        for (i = 0; i < arr1.length; i++)
          if (arr14[i] == 1)
          {
            node = "<tr>"
                 + "<th>" + arr1[i] + "</td>"
                 + "<th>" + arr2[i] + "</th>"
                 + "<th>" + arr3[i] + "</th>"
                 + "<th>" + arr4[i] + "</th>"
                 + "<th>" + arr5[i] + "</th>"
                 + "<th>" + arr6[i] + "</th>"
                 + "<th>" + arr7[i] + "</th>"
                 + "<th>" + arr8[i] + "</th>"
                 + "<th>" + arr9[i] + "</th>"
                 + "<th>" + arr10[i] + "</th>"
                 + "<th>" + arr11[i] + "</th>"
                 + "<th>" + arr12[i] + "</th>"
                 + "<th>" + arr13[i] + "</th>"
                 + "<th>" + arr15[i] + "</th>"
                 + "<th>" + arr16[i] + "</th>"
                 + "</tr>";
            document.getElementById("full_table").innerHTML += node;
            count++;
          }
        if (count == 0)
        	document.getElementById("full_table").innerHTML += "<tr><th colspan=\"13\">无符合条件的结果</th></tr>";
      }
    }

    function searchTable()
    {
      var i;
      var str;
      for (i = 0; i<arr1.length; i++)
        arr14[i] = 1;

      str = document.all.s3.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr3[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s4.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr4[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s5.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr5[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s6.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr6[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s7.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr7[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s8.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr8[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s9.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr9[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s10.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr10[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s11.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr11[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s12.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr12[i] && arr14[i] != 0)
            arr14[i] = 0;

      str = document.all.s13.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr13[i] && arr14[i] != 0)
            arr14[i] = 0;
    }

    function  getExplorer() {
      var explorer = window.navigator.userAgent ;
      //ie 
      if (explorer.indexOf("MSIE") >= 0) {
        return 'ie';
      }
      //firefox 
      else if (explorer.indexOf("Firefox") >= 0) {
        return 'Firefox';
      }
      //Chrome
      else if(explorer.indexOf("Chrome") >= 0){
        return 'Chrome';
      }
      //Opera
      else if(explorer.indexOf("Opera") >= 0){
        return 'Opera';
      }
      //Safari
      else if(explorer.indexOf("Safari") >= 0){
        return 'Safari';
      }
    }

    function outputData()
    {
        if(getExplorer()=='ie')
          outputForIE();
        else
          tableToExcel('full_table');
    }

    function outputForIE()
    {      
      try {
        var oXL = new ActiveXObject("Excel.Application");
        var oWB = oXL.Workbooks.Add();
        var oSheet = oWB.ActiveSheet;
        var row = 1; var col = 1; var i;
        oSheet.Cells(row,1).value = "证件号";
        oSheet.Cells(row,2).value = "姓名";
        oSheet.Cells(row,3).value = "证件类型";
        oSheet.Cells(row,4).value = "婚姻状况";
        oSheet.Cells(row,5).value = "就业状况";
        oSheet.Cells(row,6).value = "户口性质";
        oSheet.Cells(row,7).value = "人户分离情况";
        oSheet.Cells(row,8).value = "文化程度";
        oSheet.Cells(row,9).value = "政治面貌";
        oSheet.Cells(row,10).value = "民族";
        oSheet.Cells(row,11).value = "性别";
        oSheet.Cells(row,12).value = "侨情类别";
        oSheet.Cells(row,13).value = "收入情况";
        oSheet.Cells(row,14).value = "年龄";
        oSheet.Cells(row,15).value = "电话";

        for (i = 0; i<arr1.length; i++)
          if (arr14[i]!=0)
          {
            row++;
            oSheet.Cells(row,1).value = arr1[i];
            oSheet.Cells(row,2).value = arr2[i];
            oSheet.Cells(row,3).value = arr3[i];
            oSheet.Cells(row,4).value = arr4[i];
            oSheet.Cells(row,5).value = arr5[i];
            oSheet.Cells(row,6).value = arr6[i];
            oSheet.Cells(row,7).value = arr7[i];
            oSheet.Cells(row,8).value = arr8[i];
            oSheet.Cells(row,9).value = arr9[i];
            oSheet.Cells(row,10).value = arr10[i];
            oSheet.Cells(row,11).value = arr11[i];
            oSheet.Cells(row,12).value = arr12[i];
            oSheet.Cells(row,13).value = arr13[i];
            oSheet.Cells(row,14).value = arr15[i];
            oSheet.Cells(row,15).value = arr16[i];
          } 
        oXL.Visible = true; 
      } catch(e)
      {
        alert("请把IE的安全选项设置为低，否则无法使用该控件！");
      }
    }

    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,',
        template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="utf-8" /><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
        base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s)))},
        format = function(s, c) {
          return s.replace(/{(\w+)}/g,
          function(m, p) { return c[p]; }) }
        return function(table, name) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
        window.location.href = uri + base64(format(template, ctx))
        }
      })()

  </script>
  
	<script th:src="@{/js/common.js}"></script>


</head>

<body data-accent="blue">
  <header id="nav-bar" class="container-fluid" >
      <div class="row-fluid">
         <div class="span8">
            <div id="header-container">
               <a id="backbutton" class="win-backbutton" href="index.html"></a>
               <h4 id="showtime" style="color:black;">显示时间的位置</h4>
               <div class="dropdown">
                  <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" id = "showRoom">
                     人口信息
                     <b class="caret"></b>
                  </a>
            </div>
            </div>
         </div>

         <div id="top-info" class="pull-right">
         <a href="#" class="pull-left">
            <div class="top-info-block">
               <h3 id = "showname">Admin</h3>
               <h4 id = "showdescription">admin</h4>
            </div>
            <div class="top-info-block">
               <b class="icon-user"></b>
            </div>
         </a>
         <hr class="separator pull-left"/>
         <a id="settings" class="pull-left" href="#">
            <b class="icon-settings"></b>
         </a>
         </div>
      </div>
  </header>
   
  <div class="container">
    <div class="row show-grid">
       <table style="width:100%" border="0">
          <tr>
            <td><h2>条件筛选</h2></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center"><a onclick="outputData()">数据导出</a></td>
          </tr>
          <tr>
          	<td><h4>证件类型:</h4></td>
            <td>
              <select id="s3" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="居民身份证">居民身份证</option>
                  <option value="普通护照">普通护照</option>
                  <option value="香港特别行政区护照">香港特别行政区护照</option>
                  <option value="台湾居民来往大陆通行证">台湾居民来往大陆通行证</option>
                  <option value="港澳居民来往大陆通行证">港澳居民来往大陆通行证</option>
                  <option value="其他证件">其他证件</option>
              </select>
            </td>
            <td><h4>婚姻状况:</h4></td>
            <td>
              <select id="s4" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="未婚">未婚</option>
                  <option value="已婚">已婚</option>
                  <option value="丧偶">丧偶</option>
                  <option value="离婚">离婚</option>
                  <option value="未知">未知</option>
              </select>
            </td>
            <td><h4>就业状况:</h4></td>
            <td>
              <select id="s5" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="就业">就业</option>
                  <option value="失业">失业</option>
                  <option value="无业">无业</option>
                  <option value="退休">退休</option>
                  <option value="务农">务农</option>
                  <option value="学生">学生</option>
                  <option value="学龄前儿童">学龄前儿童</option>
                  <option value="未知">未知</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><h4>户口性质:</h4></td>
            <td>
              <select id="s6" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="本市农村">本市农村</option>
                  <option value="本市城镇">本市城镇</option>
                  <option value="外地户口">外地户口</option>
                  <option value="外籍户口">外籍户口</option>
                  <option value="未知">未知</option>
                  <option value="街道公共户">街道公共户</option>
              </select>
            </td>
            <td><h4>人户分离情况:</h4></td>
            <td>
              <select id="s7" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="人在户在">人在户在</option>
                  <option value="人在户不在">人在户不在</option>
                  <option value="人不在户在">人不在户在</option>
                  <option value="人户不在">人户不在</option>
              </select>
            </td>
            <td><h4>文化程度:</h4></td>
            <td>
              <select id="s8" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="不明">人在户在</option>
                  <option value="研究生">研究生</option>
                  <option value="硕士">硕士</option>
                  <option value="博士后">博士后</option>
                  <option value="博士">博士</option>
                  <option value="大学">大学</option>
                  <option value="大学专科和专科学校">大学专科和专科学校</option>
                  <option value="中等专业学校">中等专业学校</option>
                  <option value="高中">高中</option>
                  <option value="初中">初中</option>
                  <option value="小学">小学</option>
                  <option value="学龄前儿童">学龄前儿童</option>
                  <option value="文盲或半文盲">文盲或半文盲</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><h4>政治面貌:</h4></td>
            <td>
              <select id="s9" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="群众">群众</option>
                  <option value="中共党员">中共党员</option>
                  <option value="中共预备党员">中共预备党员</option>
                  <option value="共青团员">共青团员</option>
                  <option value="无党派民主人士">无党派民主人士</option>
                  <option value="民主党派">民主党派</option>
                  <option value="其它">其它</option>
              </select>
            </td>
            <td><h4>民族:</h4></td>
            <td>
              <select id="s10" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="不明">不明</option>
                  <option value="汉族">汉族</option>
                  <option value="少数民族">少数民族</option>
              </select>
            </td>
            <td><h4>性别:</h4></td>
            <td>
              <select id="s11" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="男">男</option>
                  <option value="女">女</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><h4>侨情类别:</h4></td>
            <td>
              <select id="s12" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="中国公民">中国公民</option>
                  <option value="华侨">华侨</option>
                  <option value="港澳居民">港澳居民</option>
                  <option value="外籍华人">外籍华人</option>
                  <option value="留学生">留学生</option>
                  <option value="归侨">归侨</option>
                  <option value="早期归侨"> 早期归侨</option>
                  <option value="侨眷">侨眷</option>
                  <option value="港澳居民眷属">港澳居民眷属</option>
                  <option value="归国留学人员">归国留学人员</option>
                  <option value="留学生眷属">留学生眷属</option>
                  <option value="其它">其它</option>
              </select>
            </td>
            <td><h4>收入情况:</h4></td>
            <td>
              <select id="s13" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="退休">退休</option>
                  <option value="纳保">纳保</option>
                  <option value="无业">无业</option>
                  <option value="外地回沪">外地回沪</option>
                  <option value="低保">低保</option>
                  <option value="未知">未知</option>
              </select>
            </td>
          </tr>
       </table>

       <p> &nbsp; </p>
       <p> &nbsp; </p>

       <table style="width:100%" border="1">
       	 <tbody id="full_table">

          </tbody>
       </table>
    </div>

  </div>

   <script type="text/javascript" th:src="@{/scripts/google-code-prettify/prettify.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/jquery.mousewheel.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/jquery.scrollTo.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootstrap.min.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootmetro.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootmetro-charms.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/demo.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/holder.js}"></script>

   <script type="text/javascript">
      $(".metro").metro();
   </script>
</body>
</html>
