<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8" />
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <!-- Mobile viewport optimized: h5bp.com/viewport -->
   <meta name="viewport" content="width=device-width">

   <title>房屋信息</title>

   <meta name="robots" content="noindex, nofollow">
   <meta name="description" content="MetroUI-Web : Simple and complete web UI framework to create web apps with Windows 8 Metro user interface." />
   <meta name="keywords" content="metro, metroui, metro-ui, metro ui, windows 8, metro style, bootstrap, framework, web framework, css, html" />
   <meta name="author" content="AozoraLabs by Marcello Palmitessa"/>
   
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootstrap.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootstrap-responsive.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro-tiles.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/bootmetro-charms.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/metro-ui-light.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/icomoon.css}">

   <!--  these two css are to use only for documentation -->
   <link rel="stylesheet" type="text/css" th:href="@{/content/css/demo.css}">
   <link rel="stylesheet" type="text/css" th:href="@{/scripts/google-code-prettify/prettify.css}" >

   <!-- Le fav and touch icons -->
   <link rel="shortcut icon" th:href="@{/content/ico/favicon.ico}">
   <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/content/ico/apple-touch-icon-144-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/content/ico/apple-touch-icon-114-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/content/ico/apple-touch-icon-72-precomposed.png}">
   <link rel="apple-touch-icon-precomposed" th:href="@{/content/ico/apple-touch-icon-57-precomposed.png}">

   <!-- All JavaScript at the bottom, except for Modernizr and Respond.
      Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
      For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
   <script src="scripts/modernizr-2.6.1.min.js"></script>
   <script type="text/javascript" src="scripts/jquery-1.8.2.min.js"></script>

   <script language="javascript" type="text/javascript">
    $.extend({
     getUrlVars: function(){
       var vars = [], hash;
       var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
       for(var i = 0; i < hashes.length; i++)
       {
         hash = hashes[i].split('=');
         vars.push(hash[0]);
         vars[hash[0]] = hash[1];
       }
       return vars;
     },
     getUrlVar: function(name){
       return $.getUrlVars()[name];
     }
    });                                                                      // get message from url

    function Map() {
      var struct = function(key, value) {
        this.key = key;
        this.value = value;
      }
 
      var put = function(key, value){
        for (var i = 0; i < this.arr.length; i++) {
          if ( this.arr[i].key === key ) {
            this.arr[i].value = value;
          return;
          }
        }
        this.arr[this.arr.length] = new struct(key, value);
      }
 
      var get = function(key) {
        for (var i = 0; i < this.arr.length; i++) {
          if ( this.arr[i].key === key ) {
            return this.arr[i].value;
          }
        }
        return null;
      }
 
      var remove = function(key) {
        var v;
        for (var i = 0; i < this.arr.length; i++) {
          v = this.arr.pop();
          if ( v.key === key ) {
            continue;
          }
          this.arr.unshift(v);
        }
      }
 
      var size = function() {
        return this.arr.length;
      }
 
      var isEmpty = function() {
        return this.arr.length <= 0;
      } 
      this.arr = new Array();
      this.get = get;
      this.put = put;
      this.remove = remove;
      this.size = size;
      this.isEmpty = isEmpty;
    }

    $(function (){    
      var initializationTime=(new Date()).getTime();
      var manager_name = "admin";
      showLeftTime();
      getData();
      function showLeftTime()
      {
        var now=new Date();
        var year=now.getFullYear();
        var month=now.getMonth();
        var day=now.getDate();
        var hours=now.getHours();
        var minutes=now.getMinutes();
        var seconds=now.getSeconds();
        var timetable = ""+year+"年"+month+"月"+day+"日 ";
        if (hours < 10) 
          timetable += "0" + hours + ":";
        else
          timetable += hours + ":";
        if (minutes < 10)
          timetable += "0" + minutes + ":";
        else
          timetable += minutes + ":";
        if (seconds < 10)
          timetable += "0" + seconds + "";
        else
          timetable += seconds + "";
      
        document.all.showtime.innerHTML = timetable;
        var timeID=setTimeout(showLeftTime,1000);
      }

      function getData()
      {
        $.ajax(
        {
          url: "rest/apartment",
          dataType: "JSON",
          type: "GET", 
          success: function (data) { 
            addToArray(data, "apartment_detail");
          }
        }
        )
      }

    })

    var arr1 = new Array();     //序列号
    var arr2 = new Array();     //地区
    var arr3 = new Array();     //楼层
    var arr4 = new Array();     //屋主数量
    var arr5 = new Array();     //居民
    var arr6 = new Array();     //是否显示

    var flag = 0;
    setTimeout("buildTable()",1000);

    function showTable()
    {
      searchTable();
      buildTable();
    }

    function addToArray(data, s_name)
    {
    	var i;
    	for (i = 0; i<data.length; i++){
      		arr1.push(data[i].serialNumber);
      		arr2.push(data[i].location);
      		arr3.push(data[i].floor);
      		arr4.push(data[i].owner.toString());
      		arr5.push(data[i].resident);
          arr6.push(1);
    	}
    }

    function buildTable()
    {
      document.getElementById("full_table").innerHTML = "<tr><th>序列号</th><th>地区</th><th>楼层</th><th>屋主数量</th><th>居民</th></tr>";

      if (arr1.length == 0)
    	  document.getElementById("full_table").innerHTML += "<tr><th colspan=\"5\">无符合条件的结果</th></tr>";
      else
      {
        var i; var node;
        var count = 0;
        for (i = 0; i < arr1.length; i++)
          if (arr6[i] == 1)
          {
            node = "<tr>"
                 + "<th>" + arr1[i] + "</td>"
                 + "<th>" + arr2[i] + "</th>"
                 + "<th>" + arr3[i] + "</th>"
                 + "<th>" + arr4[i] + "</th>"
                 + "<th>" + arr5[i] + "</th>"
                 + "</tr>";
            document.getElementById("full_table").innerHTML += node;
            count++;
          }
        if (count == 0)
        	document.getElementById("full_table").innerHTML += "<tr><th colspan=\"5\">无符合条件的结果</th></tr>";
      }
    }

    function searchTable()
    {
      var i;
      var str;
      for (i = 0; i<arr1.length; i++)
        arr6[i] = 1;

      str = document.all.s1.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr1[i] && arr6[i] != 0)
            arr6[i] = 0;

      str = document.all.s2.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr2[i] && arr6[i] != 0)
            arr6[i] = 0;

      str = document.all.s3.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr3[i] && arr6[i] != 0)
            arr6[i] = 0;

      str = document.all.s4.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr4[i] && arr6[i] != 0)
            arr6[i] = 0;

      str = document.all.s5.value;
      if (str != "不限")
        for (i = 0; i<arr1.length; i++)
          if (str != arr5[i] && arr6[i] != 0)
            arr6[i] = 0;
    }

    function  getExplorer() {
      var explorer = window.navigator.userAgent ;
      //ie 
      if (explorer.indexOf("MSIE") >= 0) {
        return 'ie';
      }
      //firefox 
      else if (explorer.indexOf("Firefox") >= 0) {
        return 'Firefox';
      }
      //Chrome
      else if(explorer.indexOf("Chrome") >= 0){
        return 'Chrome';
      }
      //Opera
      else if(explorer.indexOf("Opera") >= 0){
        return 'Opera';
      }
      //Safari
      else if(explorer.indexOf("Safari") >= 0){
        return 'Safari';
      }
    }

    function outputData()
    {
        if( getExplorer() == 'ie' )
          outputForIE();
        else
          tableToExcel('full_table');
    }

    function outputForIE()
    {
      try {
        var oXL = new ActiveXObject("Excel.Application");
        var oWB = oXL.Workbooks.Add();
        var oSheet = oWB.ActiveSheet;
        var row = 1; var col = 1; var i;
        oSheet.Cells(row,1).value = "序列号";
        oSheet.Cells(row,2).value = "地区";
        oSheet.Cells(row,3).value = "楼层";
        oSheet.Cells(row,4).value = "屋主数量";
        oSheet.Cells(row,5).value = "居民";

        for (i = 0; i<arr1.length; i++)
          if (arr6[i]!=0)
          {
            row++;
            oSheet.Cells(row,1).value = arr1[i];
            oSheet.Cells(row,2).value = arr2[i];
            oSheet.Cells(row,3).value = arr3[i];
            oSheet.Cells(row,4).value = arr4[i];
            oSheet.Cells(row,5).value = arr5[i];
          } 
        oXL.Visible = true; 
      } catch(e)
      {
        alert("请把IE的安全选项设置为低，否则无法使用该控件！");
      }      
    }

    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,',
        template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="utf-8" /><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
        base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s)))},
        format = function(s, c) {
          return s.replace(/{(\w+)}/g,
          function(m, p) { return c[p]; }) }
        return function(table, name) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
        window.location.href = uri + base64(format(template, ctx));
        }
      })()

  </script>
  
	<script src="js/common.js"></script>


</head>

<body data-accent="blue">
  <header id="nav-bar" class="container-fluid" >
      <div class="row-fluid">
         <div class="span8">
            <div id="header-container">
               <a id="backbutton" class="win-backbutton" href="index.html"></a>
               <h4 id="showtime" style="color:black;">显示时间的位置</h4>
               <div class="dropdown">
                  <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" id = "showRoom">
                     房屋信息
                     <b class="caret"></b>
                  </a>
            </div>
            </div>
         </div>

         <div id="top-info" class="pull-right">
         <a href="#" class="pull-left">
            <div class="top-info-block">
               <h3 id = "showname">Admin</h3>
               <h4 id = "showdescription">admin</h4>
            </div>
            <div class="top-info-block">
               <b class="icon-user"></b>
            </div>
         </a>
         <hr class="separator pull-left"/>
         <a id="settings" class="pull-left" href="#">
            <b class="icon-settings"></b>
         </a>
         </div>
      </div>
  </header>
   
  <div class="container">
    <div class="row show-grid">
       <table style="width:100%" border="0">
          <tr>
            <td><h2>条件筛选</h2></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center"><a onclick="outputData()">数据导出</a></td>
          </tr>
          <tr>
          	<td><h4>序列号:</h4></td>
            <td>
              <select id="s1" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
              </select>
            </td>
            <td><h4>地区:</h4></td>
            <td>
              <select id="s2" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
                  <option value="A区">A区</option>
                  <option value="B区">B区</option>
              </select>
            </td>
            <td><h4>楼层:</h4></td>
            <td>
              <select id="s3" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><h4>屋主数量:</h4></td>
            <td>
              <select id="s4" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
              </select>
            </td>
            <td><h4>居民:</h4></td>
            <td>
              <select id="s5" onchange="showTable()">
                  <option value="不限" selected="">不限</option>
              </select>
            </td>
          </tr>
       </table>

       <p> &nbsp; </p>
       <p> &nbsp; </p>

       <table style="width:100%" border="1">
       	 <tbody id="full_table">

          </tbody>
       </table>
    </div>

  </div>

   <script type="text/javascript" th:src="@{/scripts/google-code-prettify/prettify.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/jquery.mousewheel.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/jquery.scrollTo.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootstrap.min.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootmetro.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/bootmetro-charms.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/demo.js}"></script>
   <script type="text/javascript" th:src="@{/scripts/holder.js}"></script>

   <script type="text/javascript">
      $(".metro").metro();
   </script>
</body>
</html>
