<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-density, dpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />  
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">    
    <title>我的圈子</title>
</head>
<body class="metro">


    <div class="container">
        <h1>
            <a th:href="@{/start-screen-resident}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
              我的圈子<small class="on-right"></small>
        </h1>
		<div class="grid">
		<div class="foll-info row">
			<div class="padding10 span4 border" >
				关注我的人：<a class="follower" th:href="@{circle/followlist?type=follower}">{number}</a>
			</div>
			<div class="padding10 span4 border" style="float:left">
				我关注的人：<a class="following" th:href="@{circle/followlist?type=following}">{number}</a>
			</div>
		</div>
		</div>

		<div class="post-message" style="margin-bottom: 30px">
			<div class="input-control textarea">
				<textarea class="post-content" placeholder="想说点什么" style="font-size: 16px"></textarea>
			</div>
			<button class="button primary large post-button" style="float:right">发布</button>
			<div class="clearfix"></div>
		</div>

		<div class="timeline">
			<div class="info-block">
				<div class="avatar-container tile" style="float: left" style><img class="avatar" src="/community-server/images/default.jpg" /></div>
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
					<span class="user-name" style="font-size: 20px">{username}</span>
					<span class="post-time" style="font-size: 20px">{post-time}</span>					
					</div>
					<div class="panel-content">
						<p>{info - content} <br />
						xxxxxxx
						</p>
					</div>
				</div>
			</div>
			
			<div class="info-block">
				<div class="avatar-container tile" style="float: left" style><img class="avatar" src="/community-server/images/default.jpg" /></div>
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
					<span class="user-name" style="font-size: 20px">{username}</span>
					<span class="post-time" style="font-size: 20px">{post-time}</span>					
					</div>
					<div class="panel-content">
						<p>{info - content} <br />
						xxxxxxx
						sdfsdfsdf <br />
						second line
						</p>
					</div>
				</div>
			</div>
			
		</div>
    </div> <!-- End of container -->
    <div th:include="metro_header :: copy"></div>
	<style type="text/css">
		.info-block {margin-bottom: 20px;}
	</style>
	
    <script type="text/javascript">
    
    (function($){
		// Init
		$.ajax({
			type: "GET",
			url: getUrl('/rest/circles/{0}/users'.format(currentUserId())),
			dataType: 'json',
			success: function(data) {
				$('.following').text(data.length);
			},
			error: function(data) {
				console.log(data);
			}
		})
		
		$.ajax({
			type: "GET",
			url: getUrl('/rest/circles/{0}/users/0'.format(currentUserId())),
			dataType: 'json',
			success: function(data) {
				$('.follower').text(data.length);
			},
			error: function(data) {
				console.log(data);
			}
		})
    })(jQuery);
    </script>

</body>
</html>