<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <title>社区公告</title>
</head>
<body class="metro">

<div class="page">
    <h1>
        <a th:href="@{/start-screen-committee}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        社区公告
    </h1>
    
	<form role="form" method="post" th:action="@{/rest/information}" enctype="multipart/form-data"
			id="submitForm">
	    <div class="grid">
	        <div class="row">
	            <div class="span7">
					<div>
						标题：<br><input name="title" />
					</div>
					<br>
					<div>
	                	正文：<textarea id="content" name="content" rows="10" cols="100"></textarea>
					</div>
					<input name="from" type="hidden" id="from" />
					<input name="redirect_url" type="hidden" value="/committee/notice" />
		            <input name="infotype" value="1" type="hidden" />
		            <br/>照片或视频：<br/>
		            <input type="file" name="file" id="attachment" />
	            </div>
	        </div>
	    </div>
	
	    <button class="btn btn-default" id="submitButton">发布</button>
    </form>

</div>

<div th:include="login_footer :: copy"></div>

<script type="text/javascript">
	$('#from').val(currentUserId());

	$('#submitForm').submit(function() {
		alert('提交成功');
		return true;
	});
</script>

</body>
</html>
