<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />  
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">    
    <title>居委会</title>
</head>
<body class="metro">


    <div class="container">
        <h1>
            <a th:href="@{/start-screen-resident}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
              居委干部职位和分工<small class="on-right"></small>
        </h1>

<!--         <p class="description">
                      下为本社区居委会干部，单击人物相片，进行留言操作
        </p>
 -->        <div class="person-list">

            <div style="margin-top: 20px" class="person-list-container">
            </div>
        </div>

        <h3>社区民警以及社区工作人员</h3>
        <div class="container">
            <div class="row">
                <div class="pritem police">
                    <span class="prtitle">社区民警: </span><a class="prname" >黄艳萍</a>
                </div>
            </div>
            <div class="row">
                <div class="pritem zhucan">
                    <span class="prtitle">助残员: </span><a class="prname" >黄艳萍</a>
                </div>
            </div>
        </div>


    </div> <!-- End of container -->
    <div th:include="metro_header :: copy"></div>
	<script th:src="@{/js/dongjunyi.js}"></script>
    <script type="text/javascript">
    
    var userPositionUrl = getUrl("resident/user_position");
    get_managementCitizens_committee(function(data) {
		var users = [];
        $(data).each(function(i, d) {
            for (var r in d.roles) {
                users.push({userid: d.id, username: d.name, role: d.roles[r], imageUrl: d.image});
            }
        });
        var police = $(users).filter(function(i,d) {return d.role.name.includes('民警');})[0];
        var zhucan = $(users).filter(function(i,d) {return d.role.name.includes('助残员');})[0];

        $(users).each(function(ind, el) {
            if (el.userid == police.userid || el.userid == zhucan.userid) {
                return;
            }
            var name = el.username;
            var position = el.role.name;
            var html = 
                '<div class="image-container shadow">' +
                '<a  href="{0}"><img src="{1}" class=""></a>'.format(userPositionUrl + '?user_id={0}&role_id={1}&back_url={2}'.format(el.userid, el.role.id, 'committee'), 
                		getUrl('images/' + el.imageUrl)) +
                    '<div class="overlay">' +
                        '<span class="name-text">{0}</span><br>'.format(name) +
                        '<span class="position-text">{0}</span>'.format(position) +
                    '</div>' 
                '</div>';
            $('.person-list-container').append($(html));
        });

        $('.police .prname').text(police.username);
        $('.zhucan .prname').text(zhucan.username);
        $('.police .prname').attr('href', userPositionUrl + '?user_id={0}&role_id={1}&back_url={2}'.format(police.userid, police.role.id, 'committee'))
        $('.zhucan .prname').attr('href', userPositionUrl + '?user_id={0}&role_id={1}&back_url={2}'.format(zhucan.userid, zhucan.role.id, 'committee'))
         
	});
    </script>

</body>
</html>