<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <title>社区公告</title>
</head>
<body class="metro">
<!--
<nav class="navigation-bar dark">
    <div class="navigation-bar-content">
        <a href="start-screen-committee.html" class="element"><span class="icon-grid-view"></span> 可信社区 <sup>1.0</sup></a>
        <span class="element-divider"></span>

        <a class="pull-menu" href="#"></a>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="#">社区公告</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li><a href="Announcement.html">公告浏览</a></li>
                    <li class="disabled"><a href="#">公告管理</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle"  href="Neighbour.html">左邻右舍</a>
            </li>
            <li>
                <a class="dropdown-toggle"  href="Committee.html">居委会</a>
            </li>
        </ul>

        <div class="no-tablet-portrait">
            <span class="element-divider"></span>
            <a class="element brand" href="#"><span class="icon-spin"></span></a>
            <a class="element brand" href="#"><span class="icon-printer"></span></a>
            <span class="element-divider"></span>

            <div class="element input-element">
                <form>
                    <div class="input-control text">
                        <input type="text" placeholder="Search...">
                        <button class="btn-search"></button>
                    </div>
                </form>
            </div>

            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="#">更改个人信息</a></li>
                </ul>
            </div>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right">
                我
                <img src="images/me.jpg"/>
            </button>
        </div>
    </div>
</nav>
-->

<div class="page">
    <h1>
        <a href="start-screen-committee.html"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        社区公告
    </h1>
    
	<form role="form" method="post" action="../rest/information/" enctype="multipart/form-data">
	    <div class="grid">
	        <div class="row">
	            <div class="span7">
	                <textarea id="content" name="content" rows="10" cols="100"></textarea>
		            <input name="infotype" value="1" type="hidden"></input>
		            附件：<br/>
		            <input type="file" name="file" id="attachment"></input>
	            </div>
	        </div>
	    </div>
	
	    <button class="btn btn-default" id="submitButton">发布</button>
    </form>

</div>

<div th:include="login_footer :: copy"></div>

<script type="text/javascript">
    $('#submitButton').click(function () {
        $.ajax({
            url: 'rest/information',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({content:$('textarea#content').val()}),
            success: function (object) {
                alert("公告发布成功");
            },
            error: function(object) {
                alert("公告发布失败");
            }
        })
    });
</script>

</body>
</html>
