<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <title>社区公告</title>
</head>
<body class="metro">
<div class="page">
    <h1>
        <a th:href="@{/resident/neighbor/friend}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        好友申请
    </h1>

    <div class="grid fluid offset1">

        <!-- 我关注的物品 -->
        <div>
            <p>选择楼栋</p>
            <select id="building_selection" onchange="building_selection_changed(this)">
            </select>
            <p>选择单元</p>
            <select id="apartment_selection" onchange="apartment_selection_changed(this)">
            </select>
            <p>选择居民</p>
            <select id="citizen_selection">
            </select>

            <button onclick="apply()">添加</button>
        </div>
        <!-- End 我关注的物品 -->

    </div>

</div>

<div th:include="login_footer :: copy"></div>
<script th:src="@{/js/friend_add.js}"></script>
<script type="application/javascript">
    var citizenId = 0;

    function apply() {
        new_apply();
    }

    function building_selection_changed(obj) {
        new_building_selection(obj[obj.selectedIndex].value, function(data){
            var apartmentList = "";
            $.each(data, function(index, value) {
                var apartment = "<option value=\"" + value.id + "\">" + value.name + "</option>";
                apartmentList += apartment;
            });

            $('#apartment_selection').empty().append(apartmentList);
            $('#apartment_selection').selectedIndex = 0;
        });
    };

    function apartment_selection_changed(obj) {
        new_apartment_selection(obj[obj.selectedIndex].value,function(data) {
            var apartmentList = "";
            $.each(data, function(index, value) {
                var apartment = "<option value=\"" + value.user + "\">" + value.name + "</option>";
                apartmentList += apartment;
            });

            var citizen_sel = $('#citizen_selection')
            citizen_sel.empty().append(apartmentList);
            citizen_sel.selectedIndex = 0;
            citizenId = citizen_sel[citizen_sel.selectedIndex].value;
        });
    };

    $(document).ready(function() {
        get_building(function(data){
            var bdList = "";
            $.each(data, function(index, value) {
                var bd = "<option value=\"" + value.id + "\">" + value.name + "</option>";
                bdList += bd;
            })

            $('#building_selection').append(bdList);
            $('#building_selection').selectedIndex = 0;
        });
    });
</script>
</div>
</body>
</html>