<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>

    <title>好友申请</title>
</head>
<body class="metro">
<header class="bg-dark" data-load="header.html"></header>

<div class="container">

    <!-- 返回主页 -->
    <div class="offset1">
        <h1><a th:href="@{/resident/neighbor/friend}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>我的好友</h1>
    </div>
    <!-- End 返回主页 -->

    <div class="grid fluid offset1">

        <!-- 我关注的物品 -->
        <div class="row">
            <div id="friend_request">

            </div>
        </div>
        <!-- End 我关注的物品 -->

    </div>

</div>

<div th:include="market_template :: copy"></div>
<script type="application/javascript">
    function confirm() {
        $.ajax({
            url: getUrl('friends/' + currentUserId() + '/applications/' + $(this).value),
            type: 'put',
            success:function(data) {
                alert('已同意好友申请');
                $(this).parent().parent().empty();
            }
        })
    }

    $(document).ready(function(){
        $.ajax({
            url:getUrl("rest/friends/" + currentUserId() + "/applications"),
            type:"get",
            dataType:"json",
            success:function(data){
                var requestList = "";
                $.each(data, function(index, value) {
                    var request =
                            "<div class=\"tile double goods\" id=\"" + value.id + "\">" +                // class goods用于查看物品的详细信息
                            "<div class=\"tile-content image\">" +
                            "<img src=\""+value.imagePath+"\">" +
                            "</div>" +

                            "<div class=\"brand bg-dark opacity\">" +
                            "<span class=\"text\">"+ decodeURI(value.name) + "</span>" +
                            "<span style=\"display:none\">"+value.id+"</span>" +
                            "<button onclick=\"confirm()\" value=\"" + value.id +  "\">同意</button>" +
                            "</div>" +
                            "</div>";

                    requestList += request;
                });

                $("#friend_request").append(requestList);

            },
            error:function(){
                alert("获取好友请求信息失败");
            }

        });
    });
</script>

</body>
</html>