<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="friend_add_modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 id="sendto" class="modal-title" id="myModalLabel"></h4>
                    <input id="to" type="hidden"></input>
                </div>
                <div class="modal-body">
                    <div>
                        <p>选择楼栋</p>
                        <select id="building_selection" onchange="building_selection_changed(this)">
                        </select>
                        <p>选择单元</p>
                        <select id="apartment_selection">
                        </select>
                        <p>选择居民</p>
                        <select id="citizen_selection">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消</button>
                    <button id="send" type="button" class="btn btn-primary">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="application/javascript">
        function building_selection_changed(obj) {
            $.ajax({
                url: getUrl('rest/building/' + obj.value + '/apartments')
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    var apartmentList = "";
                    $.each(data, function(index, value) {
                        var apartment = "<option value=\"" + value.id + "\">" + value.name + "</option>";
                        apartmentList += apartment;
                    });
                    
                    $('#apartment_selection').empty().append(apartmentList);
                }
            })
        };

        function apartment_selection_changed(obj) {

        };

        $(document).ready(function() {
            $.ajax({
                url: getUrl('rest/buildings'),
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    var bdList = "";
                    $.each(data, function(index, value) {
                        var bd = "<option value=\"" + value.id + "\">" + value.name + "</option>";
                        bdList += bd;
                    })

                    $('#building_selection').append(bdList);
                }
            })
        });
    </script>
</div>
</body>
</html>