<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>
    <link th:href="@{/zang/bootstrap-3.3.2-dist/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/zang/js/jquery.min.js}"></script>
    <script th:src="@{/zang/bootstrap-3.3.2-dist/js/bootstrap.min.js}"></script>

    <title>聊天</title>
</head>
<body class="metro">
    <header class="bg-dark" data-load="header.html"></header>

    <div class="container">
        
        <!-- 返回主页 -->
        <div class="offset1">
            <h1><a th:href="@{/resident/neighbor/group}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>聊天页</h1>
            <div class="subhead" style="max-width: 260px; padding-left: 30px; margin-bottom: 10px; overflow:auto">
                <div><a class="button" style="float:right" id="invite-btn" th:href="@{/resident/neighbor/group/invitation}">邀友入群</a></div>
            	<div style="line-height:2"><a href="#" id="chatuser">leizi</a><span>群聊中</span></div>
            </div>
        </div>
        <!-- End 返回主页 -->

        <div class="grid fluid offset1">
            <table>
            	<tr><td>
            		<textarea id="chatinfo" cols="40" rows="20" readonly="readonly"></textarea>
            	</td></tr>
            	<tr><td>
            		<textarea id="sendinfo" cols="40" rows="5"></textarea>
            	</td></tr>
            	<tr><td>
            		<input id="send" type="button" value="发送">
            	</td></tr>
            </table>
        </div>
        
    </div>

    <div th:include="market_template :: copy"></div>
    
    <script type="text/javascript">
    var userid;
    var groupid;
    var groupname;
    startid = 0;
	$(document).ready(function() {
		userid = currentUserId();
		
		var Request = new Object();
		Request = GetRequest();
		groupid = Request['id'];
		groupname = Request['name'];
		$("#chatuser").text(groupname);
		$("#chatinfo").text("");
		GetMessage(groupid, 0, 5);
		self.setInterval(function(){GetMessage(groupid, startid, 1)}, 2000);
		
		$('#invite-btn').attr('href', getUrl('/resident/neighbor/group/invitation?groupid=' + groupid + '&groupname= ' + groupname));
		
	});
	
	function GetRequest() {
	   var url = location.search; //获取url中"?"符后的字串
	   var theRequest = new Object();
	   if (url.indexOf("?") != -1) {
	      var str = url.substr(1);
	      strs = str.split("&");
	      for(var i = 0; i < strs.length; i ++) {
	         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
	      }
	   }
	   return theRequest;
	}
	
	function GetMessage(groupid, start, count) {
		$.ajax({
			url: getUrl("rest/groups/" + groupid + "/users/" + userid + "/messages/" + start + "/forward/counts/" + count),
			type:"get",
			dataType:"json",
			success:function(obj){
				console.log("success:"+obj);
				
/*				for (var i = obj.length - 1; i >= 0; i--) {
					var chatinfo = $("#chatinfo");
					chatinfo.val(chatinfo.val() + "\n" + obj[i].name + " 说：\n" + obj[i].content);
					document.getElementById('chatinfo').scrollTop = document.getElementById('chatinfo').scrollHeight;	
					startid = obj[i].messageId;
				}*/
				
				$.each(obj, function (n, value) {
					if (value.messageId <= startid)
						return;
					var chatinfo = $("#chatinfo");
					if (value.userId == userid)
						chatinfo.val(chatinfo.val() + "\n我 说:\n" + value.content);
					else
						chatinfo.val(chatinfo.val() + "\n" + value.name + " 说：\n" + value.content);
					document.getElementById('chatinfo').scrollTop = document.getElementById('chatinfo').scrollHeight;
					startid = value.messageId;
				});
			}

		});
	}
	
	$(function() {
		$("#send").click(function() {
			var chatinfo = $("#chatinfo");
			var sendinfo = $("#sendinfo");
			if (sendinfo.val() != "") {
				chatinfo.val(chatinfo.val() + "\n我 说：\n" + sendinfo.val());
				document.getElementById('chatinfo').scrollTop = document.getElementById('chatinfo').scrollHeight;
				$.ajax({
					type: "POST",
					contentType: 'application/json; charset=utf-8',
					url: getUrl("/rest/groups/" + groupid + "/users/" + userid + "/messages"),
					data: JSON.stringify({
						"message": sendinfo.val()
					}),
					success:function(data){
						startid = data.messageId;
					}
				});
			}
			sendinfo.val("");
			sendinfo.focus();
		});
	});
	
    </script>
    
</body>
</html>