<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>
    <link th:href="@{/zang/bootstrap-3.3.2-dist/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/zang/js/jquery.min.js}"></script>
    <script th:src="@{/zang/bootstrap-3.3.2-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>


    <title>邀请好友</title>
</head>
<body class="metro">
    <header class="bg-dark" data-load="header.html"></header>

    <div class="container">
        
        <!-- 返回主页 -->
        <div class="offset1">
            <h1><a th:href="@{/resident/neighbor}" class="back"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>邀请好友</h1>
        </div>
        <!-- End 返回主页 -->

        <div class="grid fluid offset1">

            <!-- 我的好友列表 -->
            <div class="row">
                <div id="friendlist">
                    
                </div>
            </div>
            <!-- End 我的好友列表 -->
            
            <div class="action-class">
				<button class="button large info" id="send-invitation">确认邀请</button>
            </div>
            
        </div>
        
    </div>

    <div th:include="market_template :: copy"></div>
    
    <script type="text/javascript">
    var userid;
	$(document).ready(function() {
		userid = currentUserId();
		var groupid = getQueryVariable('groupid');
		var groupname = getQueryVariable('groupname');
		$("#friendlist").html("");
		$('a.back').attr('href', getUrl('resident/neighbor/groupchat?id={0}&name={1}'.format(groupid, groupname)));
		$.get(getUrl("rest/friends/" + userid + "/relations"), function(data) {
			$.each(data, function (n, value) {
				var friend = "";
				friend =
				"<div class=\"tile double goods friend-item\" style='cursor:pointer'>" +
                    "<div class=\"tile-content image\">" +
                        "<a href='#' class='forbida'><img src=\"" + getUrl('images/'+ value.image) + "\"></a>" +
                    "</div>" +

                    "<div class=\"brand bg-dark opacity\">" +
                        "<span class=\"text\">"+ value.name +"</span>" + 
                        "<span style=\"display:none\" class='user-id'>"+value.friendId+"</span>" +
                    "</div>" +
                "</div>";
                $("#friendlist").append(friend);
			});
		});
		
		$('body').on('click', '.friend-item', function(event) {
			var $tile = $(this);
			//var $tile = $this.parents('.tile');
			if ($tile.hasClass('selected')) {
				$tile.removeClass('selected');
			} else {
				$tile.addClass('selected');
			}
		});
		
		$('#send-invitation').click(function(event) {
			var ids = $('.friend-item.selected .user-id').map(function(i, m) {return m.innerText;});
			var dataObj = {userIds: ids};
			$.ajax({
				type: "POST",
				url: getUrl('rest/groups/{groupId}/users'),
				data: JSON.stringify(dataObj),
				contentType: 'application/json',
				dataType: 'text',
				success: function(data) {
					console.log(data);
					alert('邀请成功');
					$('a.back').click();
				},
				error: function(data) {
					console.log(data);
					alert('邀请失败');
				}
			});
		});

		
	});
    </script>
    
</body>
</html>