<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>信箱管理</title>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

</head>
<body>
    <!--顶部-->
    <div class="layout_top_header">
            <div style="float: left"><span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #8d8d8d">信箱管理</span></div>
            <div id="ad_setting" class="ad_setting">
                <a class="ad_setting_a" href="javascript:;">
                    <i class="icon-user glyph-icon" style="font-size: 20px"></i>
                    <span>管理员</span>
                    <i class="icon-chevron-down glyph-icon"></i>
                </a>
                <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-user glyph-icon"></i> 个人中心 </a> </li>
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-cog glyph-icon"></i> 设置 </a> </li>
                    <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出</span> </a> </li>
                </ul>
            </div>
    </div>
    <!--顶部结束-->
    <!--菜单-->
    <div class="layout_left_menu">
        <ul class="tendina" id="menu">
            <li class="childUlLi">
                <a id="menumain" th:href="@{/start-screen-committee}"><i class="glyph-icon icon-home"></i>首页</a>
                <ul style="display: none;">
                </ul>
            </li>
            <li class="childUlLi">
                <a id="menumail" href="#"> <i class="glyphicon glyphicon-folder-close"></i>信箱 <span id="num" class="badge"></span></a>
                <ul style="display: none;">
                    <li><a id="mailwaiting" href="#"><i class="glyph-icon icon-chevron-right"></i>待办</a></li>
                    <li><a id="maildiscuss" href="#"><i class="glyph-icon icon-chevron-right"></i>待议</a></li>
                    <li><a id="maildone" href="#"><i class="glyph-icon icon-chevron-right"></i>已办</a></li>
                    <li><a id="mailtrans" href="#"><i class="glyph-icon icon-chevron-right"></i>转办</a></li>
                </ul>
            </li>
            <li class="childUlLi">
                <a id="menufriend" href="#"> <i class="glyph-icon icon-reorder"></i>好友</a>
                <ul style="display: none;">
                </ul>
            </li>
        </ul>
    </div>
    <!--菜单-->
    <div id="layout_right_content" class="layout_right_content">
        <div class="route_bg">
            <a href="#">主页</a><i class="glyph-icon icon-chevron-right"></i>
			<a id="navi">首页</a>
        </div>
        <div class="mian_content">
			<div style="padding: 100px 100px 10px;">
			<span id="main_page">
				<div class="text" style=" text-align:center; font-size:30px"></div>
			</span>
			</div>
        </div>
    </div>
	
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
		  <div class="modal-content">
			 <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
				   aria-hidden="true">×
				</button>
				<h4 id="sendto" class="modal-title" id="myModalLabel"></h4>
				<input id="to" type="hidden"></input>
			 </div>
			 <div class="modal-body"><textarea id="cont" class="form-control" placeholder="快问候一下吧~"></textarea></div>
			 <div class="modal-footer">
				<button type="button" class="btn btn-default" 
				   data-dismiss="modal">取消</button>
				<button id="send" type="button" class="btn btn-primary">发送</button>
			 </div>
		  </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!--页脚-->
    <div class="layout_footer">
        <p>Copyright © 2015 - DCLAB</p>
    </div>
	
	<link rel="stylesheet" th:href="@{/zang/bootstrap-3.3.2-dist/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" th:href="@{/zang/css/index.css}" type="text/css" media="screen"></link>
	
	<script type="text/javascript" th:src="@{/zang/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/zang/js/tendina.js}"></script>
	<script type="text/javascript" th:src="@{/zang/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/zang/bootstrap-3.3.2-dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<!--脚本-->
	<script type="text/javascript">
		var userid = currentUserId();
/* 		$(document).ready(function () {
			$.post("rest/mailboxs/"+userid, function (data) {
				var count = 0;
				var jsonData = eval(data);
				$.each(jsonData, function(index, objval) {
					count++;
				});
				if (count != 0)
					$("#num").text(count);
			});
		}); */
		
		$(document).ready(function() {
			//userid = currentUserId();
			if (window.location.hash) {
				var raw = window.location.hash.split('#')[1].split('sendtoid=')[1];
				var sendtoid = typeof(raw) != "undefined" ? raw : 0;
				window.location.hash = "";
				if (sendtoid != 0) {
					$.get(getUrl("rest/users/id/") + sendtoid, function(data) {
						var jsonData = eval(data);
						var sendtoname = jsonData["username"];
						$("#to").text(sendtoid);
						$("#sendto").text("发送给：" + sendtoname);
						$('#myModal').modal('show');
					});
				}
			}
		});
		
		$(function() {
			$("#send").click(function() {
				if ($("#cont")[0].value != "") {
					$.ajax({
						type: "POST",
						contentType: 'application/json; charset=utf-8',
						url: getUrl("rest/mailboxs"),
						data: JSON.stringify({
							"from": userid,
							"to": $("#to").text(),
							"content": $("#cont")[0].value,
							"submitedDate": new Date().getTime()
						}),
	
						success:function(result, status) {}
						});
					$('#myModal').modal('hide');
				}
			});
			
			$("#menumain").click(function() {
				/* $("#main_page").html("");
				$("#navi").text("首页");
				$("#main_page").append('<div class="text"  style=" text-align:center; font-size:30px"></div>'); */
				window.location = getUrl("start-screen-committee");

			});
			
			$("#menumail").click(function() {
				$("#main_page").html("");
				$("#navi").text("信箱");
/* 				$("#num").text("");
				$.post("rest/mailboxs/"+userid, function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
						$("#main_page").append(
							"<div class='panel panel-info'><div class='panel-heading'><h3 class='panel-title'>"
							+ "<a data-toggle='modal' data-target='#myModal' name='" + objval["from"] + "' onclick='mailing(this)'>" + objval["from"] + "</a>" 
							+ " 发给 " 
							+ "<a data-toggle='modal' data-target='#myModal' name='" + objval["to"] + "' onclick='mailing(this)'>" + objval["to"] + "</a>" 
							+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
					});
				}); */
			});
			
			$("#menufriend").click(function() {
				$("#main_page").html("");
				$("#navi").text("好友");
				$.get(getUrl("rest/fsrelation/") + userid, function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
							var friendid = objval["passp"];
							var userdata;
							var sendtoname;
							$.get(getUrl("rest/users/id/") + friendid, function(data) {
								userdata = eval(data);
								sendtoname = userdata["username"];
								$("#main_page").append('<a c-name="friend" class="list-group-item" name="' 
										+ friendid + '" data-toggle="modal" data-target="#myModal" onclick="mailing(this)">' 
										+ sendtoname + '</a>');
							});							
						});
				});
			});
			
			$("#myModal").on('hide.bs.modal', function() {$("#cont")[0].value = "";});
			
			$("#mailwaiting").click(function() {
				$("#main_page").html("");
				$.get(getUrl("rest/mailboxs/")+userid+"/waiting", function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
						if (objval["from"]["id"] == userid)
							$("#main_page").append(
								"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
								+ "我 发给:  " 
								+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["to"]["username"] + "' onclick='mailing(this)'>" + objval["to"]["username"] + "</a>]" 
								+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
						else
							$("#main_page").append(
									"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
									+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["from"]["username"] + "' onclick='mailing(this)'>" + objval["from"]["username"] + "</a>]" 
									+ " 发给: 我"
									+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
					});
				});
			});
			
			$("#maildiscuss").click(function() {
				$("#main_page").html("");
				$.get(getUrl("rest/mailboxs/")+userid+"/discussed", function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
						if (objval["from"]["id"] == userid)
							$("#main_page").append(
								"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
								+ "我 发给:  " 
								+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["to"]["username"] + "' onclick='mailing(this)'>" + objval["to"]["username"] + "</a>]" 
								+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
						else
							$("#main_page").append(
									"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
									+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["from"]["username"] + "' onclick='mailing(this)'>" + objval["from"]["username"] + "</a>]" 
									+ " 发给: 我"
									+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
					});
				});
			});
			
			$("#maildone").click(function() {
				$("#main_page").html("");
				$.get(getUrl("rest/mailboxs/")+userid+"/done", function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
						if (objval["from"]["id"] == userid)
							$("#main_page").append(
								"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
								+ "我 发给:  " 
								+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["to"]["username"] + "' onclick='mailing(this)'>" + objval["to"]["username"] + "</a>]" 
								+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
						else
							$("#main_page").append(
									"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
									+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["from"]["username"] + "' onclick='mailing(this)'>" + objval["from"]["username"] + "</a>]" 
									+ " 发给: 我"
									+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
					});
				});
			});
			
			$("#mailtrans").click(function() {
				$("#main_page").html("");
				$.get(getUrl("rest/mailboxs/")+userid+"/transferred", function (data) {
					var jsonData = eval(data);
					$.each(jsonData, function(index, objval){
						if (objval["from"]["id"] == userid)
							$("#main_page").append(
								"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
								+ "我 发给:  " 
								+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["to"]["username"] + "' onclick='mailing(this)'>" + objval["to"]["username"] + "</a>]" 
								+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
						else
							$("#main_page").append(
									"<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>"
									+ "[<a href='#' data-toggle='modal' data-target='#myModal' name='" + objval["from"]["username"] + "' onclick='mailing(this)'>" + objval["from"]["username"] + "</a>]" 
									+ " 发给: 我"
									+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div></div>");
					});
				});
			});
		});
		
		function mailing(item) {
			$("#to").text($(item).attr("name"));
			$("#sendto").text("发送给：" + $(item).text());
		}
	</script>
</body></html>