<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>
    <script th:src="@{/js/chen/market_resident.js}"></script>

    <title>搜索物品</title>
</head>
<body class="metro">
    <header class="bg-dark" data-load="header.html"></header>

    <div class="container">
        
        <!-- 返回主页 -->
        <div class="offset1">
        	
        </div>
        <!-- End 返回主页 -->

        <div class="grid fluid offset1">

        	<div class="row">

	            <div class="span6">
	            	<h1>
	            	<a th:href="@{/resident/market}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
	            	<span>搜索物品</span>
	            	</h1>

	            </div>

				</br>

                <div class="input-control text span5">
            		<input id="search_input" type="text" onkeydown="enter_press()" placeholder="请输入搜索关键词"/>
            		<button id="search_button" class="btn-search" onclick="search_goods()"></button>
            	</div>
            	
            </div>

            <!-- 搜索到的物品 -->
            <div class="row">
                <div id="search_goods">
                    <h2><legend>搜索物品结果</legend></h2>
                    
                </div>
            </div>
            <!-- End 搜索到的物品 -->
            
        </div>
        
    </div>

    <div th:include="market_template :: copy"></div>
    
<script type="text/javascript">
$(document).ready(function(){
	// 查看物品详细信息
	$("body").on("click", ".goods", function(){
		$goodsID = $(this).find("div").eq(1).find("span").eq(1).text();
		//alert("id:"+$goodsID);
		check_market_thing($goodsID);
	});
	
});

function search_goods(){
	
	alert("开始搜索物品");
	var content = $("#search_input")[0].value;
	
	get_search_data(content, function(obj){
			$("#search_goods").empty();
			
			var goodsList = "";
			if (obj.length > 0) {
				$.each(obj, function (n, value) {
					//alert(n +" "+ value.title);
					var goods = "";
					goods +=
					"<div class=\"tile double goods\">" +                // class goods用于查看物品的详细信息
	                    "<div class=\"tile-content image\">" +
	                        "<img src=\""+value.imagePath+"\">" +
	                    "</div>" +

	                    "<div class=\"brand bg-dark opacity\">" +
	                        "<span class=\"text\">"+decodeURI(value.title)+"</span>" + 
	                        "<span style=\"display:none\">"+value.id+"</span>" +
	                    "</div>" +
	                "</div>";

	                goodsList += goods;
				});
			}
			else{
				goodsList = "<h2>暂时未搜索到物品信息</h2>";
			}

			$("#search_goods").append(goodsList);
	});
};

function enter_press(){
	if(event.keyCode == 13){
		search_goods();
	}
};

</script>

</body>
</html>