<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>
    <script th:src="@{/js/chen/market_manage.js}"></script>


    <title>社区以物换物管理</title>
</head>
<body class="metro">
    <header class="bg-dark" data-load="header.html"></header>

    <div class="container">
                <div class="offset1">
                    <h1>
                        <a href="start-screen-committee.html"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                        以物换物管理
                    </h1>
                </div>
                <div class="grid fluid">
                    <div class="row">
                       
                            <div class="span3 offset1">
                                <nav class="sidebar light">
                                    <ul>
                                        <li class="title">居委会</li>
                                        <li id="l1" class="stick bg-green"><a href="#"><i class="icon-cycle"></i>待审核物品</a></li>
                                        <li id="l2" class="stick bg-red"><a href="#"><i class="icon-pencil"></i>已审核物品</a></li>
                                        <!--
                                        <li id="l3" class="stick bg-blue"><a href="#"><i class="icon-comments"></i>其他操作</a></li>
                                        -->

                                    </ul>
                                </nav>
                            </div>

                            <!--<div class="span1"></div>-->

                            <div class="span6 offset1" >
                                <!-- 以物换物管理人员 -->
                                <div id="welcome_repair">
                                    <img src="images/welcome_repair.png">
                                </div>
                                <!-- End 以物换物管理人员 -->


                                <!-- 待审核物品 -->
                                <div id="goods_unfinished" class="" style="display:none">
                                    <div class="row">
                                        <h3>待审核物品</h3>
                                    </div>

                                    <div id="goods_unfinished_list">
                                        
                                    </div>
                                    <!-- 
                                    <div class="row">
                                    	<a href="">
	                                    	<div class="span8">
	                                    		二手电熨斗，九成新
	                                    	</div>
	                                    	<div class="span4">
	                                    		<span>2015-02-28 18:20:22</span>
	                                    	</div>
                                    	</a>
										
                                    </div>
                                     -->
                                </div>
                                <!-- End 待审核物品 -->

                                <!-- 已审核物品 -->
                                <div id="goods_finished" class="" style="display:none">
                                    <div class="row">
                                        <h3>已审核物品</h3>
                                    </div>

                                    <div id="goods_finished_list">
                                        
                                    </div>
                                    <!-- 
                                    <div class="row">
                                        <a href="">
                                            <div class="span8">
                                                二手电熨斗，九成新
                                            </div>
                                            <div class="span4">
                                                <span>2015-02-28 18:20:22</span>
                                            </div>
                                        </a>
                                        
                                    </div>
                                     -->
                                </div>
                                <!-- End 已审核物品 -->



                            </div>

                    </div>
                    
                </div>

    </div>
    <div th:include="market_template :: copy"></div>
</body>
</html>