<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <script type="text/javascript" th:src="@{/scripts/jquery-1.8.2.min.js}"></script>
    <script th:src="@{/js/chen/market_resident.js}"></script>
    <script th:src="@{/js/chen/market_admin.js}"></script>

    <title>物品详细信息</title>
</head>

<body class="metro">
    <header class="bg-dark" data-load="header.html"></header>
    <div class="">

    <div class="page">
        <div class="page-region">
               
                <div class="grid fluid">
                    <div>
                        <div class="row">
                            <h1>
                            <a th:href="@{/committee/market}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                            <span id="title"></span>
                            </h1>
                        </div>
                        <!-- 物品详细信息 -->
                        <div class="row">
                        	<div class="span5">
                        		<img id="imagePath" class="span5">
                        	</div>
                        	<div class="span6">
                                <div id="goods_id" style="display:none">物品id</div>
                                <div id="user_id" style="display:none">用户id</div>
                                <p>类型：<span id="type"></span></p>
                                <p>分类：<span id="category"></span></p>
                        		<p>联系人：<span id="owner"></span></p>
                        		<p>联系电话：<span id="phone"></span></p>
                        		<p>详细介绍：
                        		<span id="desc"></span>
                        		</p>
                                <div class="row">
                                    <div class="span3">
                                        <button id="agree_thing" class="large success">
                                            通过
                                        </button>
                                    </div>
                                    <div class="span3">
                                        <button id="unagree_thing" class="large danger">
                                            不通过
                                        </button>
                                    </div>
                                </div>
                        		
                        	</div>
                        </div>
                        <!-- 物品详细信息 -->

                    </div>
                </div>

        </div>

        <div class="page-footer">
            <div class="page-footer-content">
                <!--<div data-load="header.html"></div>-->
            </div>
        </div>
    </div>

    </div>

    <div th:include="market_template :: copy"></div>
<script type="text/javascript">  
$(document).ready(function(){

	$.extend({
		  getUrlVars: function(){
		    var vars = [], hash;
		    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		    for(var i = 0; i < hashes.length; i++)
		    {
		      hash = hashes[i].split('=');
		      vars.push(hash[0]);
		      vars[hash[0]] = hash[1];
		    }
		    return vars;
		  },
		  getUrlVar: function(name){
		    return $.getUrlVars()[name];
		  }
	});
	
	// Getting URL var by its nam
	$goodsID = $.getUrlVar('id');
	//alert("通过URL获取参数:" + $goodsID);
	
	get_thing_data($goodsID, function(obj){
		
			$("#goods_id").html($goodsID);

			$("#imagePath").attr("src", obj.imagePath);
			//$("#imagePath").attr("src", "images/11.jpg");
			$("#title").html(decodeURI(obj.title));
			$("#type").html(decodeURI(obj.type));
			$("#category").html(decodeURI(obj.category));
			$("#desc").html(decodeURI(obj.desc));
			$("#owner").html(decodeURI(obj.owner));
			$("#phone").html(decodeURI(obj.phone));
	});
	
	$("body").on("click", "#agree_thing", function(){
		$("#agree_thing").removeClass("primary");
		$("#agree_thing").text("已审核");
		$("#agree_thing").attr("disabled", true);
		$("#unagree_thing").css("display", "none");
		alert("已审核物品:"+$("#goods_id").text());
		
		check_pass($("#goods_id").text());

	});

	$("body").on("click", "#unagree_thing", function(){
		$("#unagree_thing").removeClass("primary");
		$("#unagree_thing").text("已审核");
		$("#unagree_thing").attr("disabled", true);
		$("#agree_thing").css("display", "none");
		alert("已审核物品:"+$("#goods_id").text());
		
		check_unpass($("#goods_id").text());
	});
	
});
</script>

</body>
</html>