<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">

    <link th:href="@{/css/metro-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/metro-bootstrap-responsive.css}" rel="stylesheet">
    <link th:href="@{/css/iconFont.css}" rel="stylesheet">
    <link th:href="@{/css/docs.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/js/prettify/prettify.css}" rel="stylesheet">

    <!-- Load JavaScript Libraries -->
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/jquery/jquery.widget.min.js}"></script>
    <script th:src="@{/js/jquery/jquery.mousewheel.js}"></script>
    <script th:src="@{/js/prettify/prettify.js}"></script>
    <script th:src="@{/js/holder/holder.js}"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script th:src="@{/js/load-metro.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script th:src="@{/js/hitua.js}"></script>
    </div>
</body>
</html>