<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>智慧社区</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Admin panel developed with the Bootstrap from Twitter."/>
<meta name="author" content="travis"/>

<link href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet" />
<link href="../../../css/site.css" th:href="@{/css/site.css}" rel="stylesheet" />
<link href="../../../css/bootstrap-responsive.css" th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="../../../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../js/common.js" th:src="@{/js/common.js}"></script>

<script type="text/javascript">
    
  $(document).ready(function(){
	  var checkFlag = false;
	  var adjustFlag = false;
	  
	  $("#personnelCheck").click(function(){
		  $(this).attr("class","active");
		   $("#personnelAdjust").attr("class","");
		   $("form").remove();
		   $("#check").remove();
		   
		   $.get(getUrl("rest/managementCitizens/committee") ,"",function(users,status){
			   var divs = "<div id='check'>";
			   $(users).each(function(index,user){
				   var roleNames = "";
				   roleNames = roleNames.substring(0,roleNames.length-1);
				   divs += "<div class='span3' style='text-align:center'><image src='" + getUrl("images/" + user.imageUrl) + "' width='200' height='250' />";
				   divs += "<p>" + user.username + "：" + roleNames + "</p>";
				   divs += "</div>";
			   });
			   divs += "</div>";
			   $("div.span9").append(divs);
			   checkFlag = true;
		   });
		  return false;
	  });
	  
	  $("#personnelAdjust").click(function(){
		   $(this).attr("class","active");
		   $("#personnelCheck").attr("class","");
		   $("#check").remove();
		   $('form').remove();
		  
		    var form = $("<form>");
		    var table = $("<table  class='table table-bordered' contenteditable='true'>")
		    var thead = $("<thead>");
	    	var tbody = $("<tbody>");    	
	    	
	    	$.get(getUrl("rest/users"),"",function(datas,status){

	        	var checkboxs = "";
	    		$.get(getUrl("rest/roles"),"",function(roles,status){
	    			//var n = 0;
	        		/* $(roles).each(function(index1,role){
	            		checkboxs += "<input type='checkbox' name='roleId' value=" + role.id + ">" + role.name + "</input>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp";
	            		n += 1;
	            		if(n == 5){
	            			checkboxs += "<br><br>";
	            			n=0;
	            		}
	        		}); */
	        		
	        		thead.append("<tr><th>人员</th><th>角色</th></tr>","</thead>");	        		
	        		$(datas).each(function(index2,user){
	        			if(user.username == 'admin' || user.username == '林诗音' || user.username == '顾西风' || user.username == '江城子')
	        				return;
	        			$('form').serialize().split('userId=')
	        			var n = 0;
	        			var tr = "<tr>";
	        			tr += "<td>" + "<input type='hidden' name='userId' value='" + user.id + "'>" + user.username + "</td>";
	        			var checkboxInput = "";
	        			
	        			$(roles).each(function(index1,role){
	        				var hasRole = false;	        				
	        				$(user.roles).each(function(index3,userRole){
	        					
	        					if(role.name == userRole.name){
	        						checkboxInput += "<input type='checkbox' name='roleId' value=" + role.id + " checked=true >" + role.name + "</input>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp";
	        						n += 1;
	        						if(n == 5){
	        							checkboxInput += "<br><br>";
	        							n=0;
	        						}
		        					hasRole = true;
	        					}
	        				});
	        				

        					if(!hasRole){
        						checkboxInput += "<input type='checkbox' name='roleId' value=" + role.id + ">" + role.name + "</input>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp";
        						n += 1;
        						if(n == 5){
        							checkboxInput += "<br><br>";
        							n=0;
        						}
        					}	
	        			});
	     
	        			
	        			tr += "<td>" + checkboxInput + "</td>";
	        			tr += "</tr>"
	        			tbody.append(tr);
	        		});
	        		
	        		tbody.append("</tbody>");
	        		table.append(thead,tbody,"</tbody>");
	        		form.append(table,"<button class='btn submit1'>提交</button>","</form>");
	        		$("div.span9").append(form);
	        		adjustFlag = true;
	        	});
	    		
	    	});
	    	return false;
	  });
	  	
    	
	  $(".submit1").live('click', function(data,status){
		  $("form").submit();
		  return false;
	  });
	  
	  $('form').live('submit', function() {
		  
		  var us = [];
		  $($('form').serializeArray()).each(function(i,d) {
			  if (d.name == 'userId') {
				  var user = new Object(); 
				  user.roleIds=new Array(); 
				  user.userId=d.value; 
				  us.push(user); 
				} else { 
					var user = us[us.length-1]; 
					user.roleIds.push(d.value); 
				} 
			});
		  
		   $.ajax({
			 type: "put",
			 url: "rest/users",
			 contentType: "application/json",
			 data: JSON.stringify(us),
			 success: function(data){
				 $("#personnelCheck").click();
			 },
			 error: function(data){
				 alert('调整人事失败！');
			 }
		  }); 
		  return false;
	  });
	  
    }); 
    </script>

</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">人事管理系统</a>
				<div class="btn-group pull-right">
					<a class="btn" href="my-profile.html"><i class="icon-user"></i>
						管理员</a> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="caret"></span>
					</a>

				</div>
				<div class="nav-collapse">
					<ul class="nav">
					</ul>
				</div>
			</div>
		</div>
	</div>



	<div class="container-fluid">
		<div class="row-fluid">
			<!-- left -->
			<div class="span3">
			
				<div class="well sidebar-nav">
		            <ul class="nav nav-list">
		             <!--  <li class="nav-header"><i class="icon-wrench"></i> 人事管理</li> -->
		              <li class="active" id="personnelCheck"><a  href="#">查看人事</a></li>
		              <li id="personnelAdjust"><a href="#">调整人事</a></li>
		            </ul>
	          	</div>
			
			</div>
			
			<!-- right -->
			<div class="span9">
			</div>
		</div>
	</div>









</body>
</html>