<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script th:src="@{/js/start-screen.js}"></script>

    <title>上海市杨浦区五角场镇东方名城居委会</title>
</head>
<body class="metro">
    <div class="tile-area tile-area-dark">
        <h1 class="tile-area-title fg-white">上海市杨浦区五角场镇东方名城居委会</h1>


        <div class="tile-group eight">


            <a th:href="@{/committee/manage}" class="tile double bg-magenta" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-home"></span>
                </div>
                <div class="brand">
                    <div class="label">人事管理</div>
                </div>
            </a>

            <a class="tile double bg-yellow" data-click="transform" th:href="@{/committee/notice}">
                <div class="tile-content icon">
                    <span class="icon-bell"></span>
                </div>
                <div class="brand">
                    <div class="label">社区公告</div>
                </div>
            </a>  

            <a class="tile double bg-lightBlue" data-click="transform" th:href="@{/committee/apartment}">
                <div class="tile-content icon">
                    <span class="icon-google-drive"></span>
                </div>
                <div class="brand">
                    <div class="label">房屋信息</div>
                </div>
            </a>

            <a class="tile double bg-darkMagenta" data-click="transform" th:href="@{/committee/citizen}">
                <div class="tile-content icon">
                    <span class="icon-busy"></span>
                </div>
                <div class="brand">
                    <div class="label">人口信息</div>
                </div>
            </a>

            <a th:href="@{/committee/supervise}" class="tile bg-darkBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-cube"></span>
                </div>
                <div class="brand">
                    <div class="label">舆情管理</div>
                </div>
            </a>

            <a th:href="@{/committee/workreport}" class="tile bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">工作日志</div>
                </div>
            </a>

            <a th:href="@{/committee/mailbox}" class="tile double bg-lightBlue" data-click="transform">
                <div class="tile-content image">
                    <img src="images/windows_8_default_13_wallpaper.jpg">
                </div>
                <div class="brand">
                    <div class="label">居民信箱</div>
                </div>
            </a>

            <a class="tile double bg-lightOlive" data-click="transform" th:href="@{/committee/activity}">
                <div class="tile-content icon">
                    <span class="icon-cart-2"></span>
                </div>
                <div class="brand">
                    <div class="label">社区活动</div>
                </div>
            </a>

            <a class="tile double bg-darkBlue" data-click="transform" th:href="@{/committee/market}">
                <div class="tile-content icon">
                    <span class="icon-heart-2"></span>
                </div>
                <div class="brand">
                    <div class="label">东方之窗</div>
                </div>
            </a>

            <a th:href="@{/committee/topic}" class="tile double bg-magenta" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-home"></span>
                </div>
                <div class="brand">
                    <div class="label">民议广场</div>
                </div>
            </a>

            <a th:href="@{/committee/setting}" class="tile bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">设置</div>
                </div>
            </a>

            <a th:href="@{/logout}" class="tile bg-olive" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-exit"></span>
                </div>
                <div class="brand">
                    <div class="label">退出</div>
                </div>
            </a>

        </div> <!-- End group -->

</div>

<div th:include="login_footer :: copy"></div>

</body>
</html>