<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script th:src="@{/js/start-screen.js}"></script>

    <title>上海市杨浦区五角场镇东方名城物业</title>
</head>
<body class="metro">
    <div class="tile-area tile-area-dark">
        <h1 class="tile-area-title fg-white">上海市杨浦区五角场镇东方名城物业</h1>

        <div class="tile-group eight">

            <a class="tile double bg-magenta" data-click="transform" th:href="@{/tenement/mailbox}">
                <div class="tile-content icon">
                    <span class="icon-home"></span>
                </div>
                <div class="brand">
                    <div class="label">居民信箱</div>
                </div>
            </a>

            <a class="tile double bg-darkOrange" data-click="transform" th:href="@{/tenement/repair_manage}">
                <div class="tile-content icon">
                    <span class="icon-cube"></span>
                </div>
                <div class="brand">
                    <div class="label">物业管理</div>
                </div>
            </a>


            <a th:href="@{/tenement/setting}" class="tile double bg-yellow" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-bell"></span>
                </div>
                <div class="brand">
                    <div class="label">设置</div>
                </div>
            </a>

            <a th:href="@{/logout}" class="tile bg-olive" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-exit"></span>
                </div>
                <div class="brand">
                    <div class="label">退出</div>
                </div>
            </a>

        </div> <!-- End group -->

</div>

<div th:include="login_footer :: copy"></div>

</body>
</html>