<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script th:src="@{/js/start-screen.js}"></script>

    <title>上海市杨浦区五角场镇东方名城社区</title>
</head>
<body class="metro">
    <div class="tile-area tile-area-dark">
        <h1 class="tile-area-title fg-white">上海市杨浦区五角场镇东方名城社区</h1>

        <div class="tile-group eight">

            <a class="tile double bg-magenta" data-click="transform" th:href="@{/resident/committee}">
                <div class="tile-content icon">
                    <span class="icon-home"></span>
                </div>
                <div class="brand">
                    <div class="label">居委会</div>
                </div>
            </a>

            <a class="tile double bg-yellow" data-click="transform" th:href="@{/resident/owner}">
                <div class="tile-content icon">
                    <span class="icon-bell"></span>
                </div>
                <div class="brand">
                    <div class="label">业委会</div>
                </div>
            </a>  

            <a class="tile double bg-lightBlue" data-click="transform" th:href="@{/resident/tenement}">
                <div class="tile-content icon">
                    <span class="icon-google-drive"></span>
                </div>
                <div class="brand">
                    <div class="label">物业</div>
                </div>
            </a>

            <a class="tile double bg-darkMagenta" data-click="transform" th:href="@{/resident/notice}">
                <div class="tile-content icon">
                    <span class="icon-busy"></span>
                </div>
                <div class="brand">
                    <div class="label">社区公告</div>
                </div>
            </a>

            <a th:href="@{/resident/neighbor}" class="tile bg-darkBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-cube"></span>
                </div>
                <div class="brand">
                    <div class="label">左邻右舍</div>
                </div>
            </a>

            <a th:href="@{/resident/topic}" class="tile bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">民意广场</div>
                </div>
            </a>

            <a class="tile double bg-lightBlue" data-click="transform" th:href="@{/resident/market}">
                <div class="tile-content image">
                    <img src="images/windows_8_default_13_wallpaper.jpg">
                </div>
                <div class="brand">
                    <div class="label">便民服务</div>
                </div>
            </a>

            <a class="tile double bg-darkOrange" data-click="transform" th:href="@{/resident/repair}">
                <div class="tile-content icon">
                    <span class="icon-google-drive"></span>
                </div>
                <div class="brand">
                    <div class="label">物业报修</div>
                </div>
            </a>

            <a class="tile double bg-lightOlive" data-click="transform" th:href="@{/resident/activity}">
                <div class="tile-content icon">
                    <span class="icon-cart-2"></span>
                </div>
                <div class="brand">
                    <div class="label">社区活动</div>
                </div>
            </a>

            <a class="tile double bg-yellow" data-click="transform" th:href="@{/resident/neighbor/circle}">
                <div class="tile-content icon">
                    <span class="icon-bell"></span>
                </div>
                <div class="brand">
                    <div class="label">我的圈子</div>
                </div>
            </a>

            <a th:href="@{/resident/setting}" class="tile bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">个人信息</div>
                </div>
            </a>

            <a th:href="@{/logout}" class="tile bg-olive" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-exit"></span>
                </div>
                <div class="brand">
                    <div class="label">退出</div>
                </div>
            </a>

        </div> <!-- End group -->

</div>

<div th:include="login_footer :: copy"></div>

</body>
</html>