<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <title>参与投票</title>
</head>
<body class="metro">
<header class="bg-dark"></header>
<div class="page">

    <h1>
        <a th:href="@{/resident/topic}"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        参与投票
    </h1>

    <div class="container">
        <div class="row show-grid">
            <table style="width:60%" border="0" align="center" id="vote_table">
                <tbody id="full_table">
                <tr>
                    <th><h1 id="title"></h1></th>
                </tr>
                <tr>
                    <th>
                        <img id="attachment" src="" />
                    </th>
                </tr>
                <tr>
                    <th style="text-align:left">
                        <p id="content"></p>
                    </th>
                </tr>

                </tbody>
            </table>
        </div>

</div>

<div th:include="login_footer :: copy"></div>

<style type="text/css">
    img[src="null"] {
        display:none;
    }
</style>
<script th:src="@{/js/dongjunyi.js}"></script>
<script type="text/javascript">
    var topicId = 0;

    function submit() {
        var jsonData = {};
        jsonData["option_id"] = $('input[name="option"]:checked').val();
        jsonData["user_id"] = currentUserId();
        jsonData["topic_id"] = topicId;
        post_topic(jsonData);
        
    }

    $(document).ready(function(){
        //alert("Goods Info Page");

        $.extend({
            getTopicId: function() {
                return window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
            }
        });

        topicId = $.getTopicId();
		
        get_topic_byid(topicId,function(obj)
        {
        	$("#title").html(obj.title);
            $("#attachment").attr("src", obj.attachment);
            $("#content").html(decodeURI(obj.content));
            $.each(obj.options, function(optionIndex, option) {
                var start = "<tr><th style=\"text-align:left\"><label>";
                var end = "</label></th></tr>";
                var option = "<input type=\"radio\" value=\"" + option.id + "\" name=\"option\">" + option.name;

                $('#vote_table').append(start + option + end);
            });
            $('#vote_table').append("<tr><th><button onclick=\"submit()\">确定</button></th></tr>");
        });
    });
</script>

</body>
</html>
