<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-frameset-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>述职报告</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Admin panel developed with the Bootstrap from Twitter."/>
<meta name="author" content="travis"/>

<link th:href="@{/zang/bootstrap-3.3.2-dist/css/bootstrap.min.css}"  rel="stylesheet" />
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script th:src="@{/zang/js/jquery.min.js}"></script>
<script th:src="@{/zang/bootstrap-3.3.2-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>

</head>
<body>

<h1><a href="workreport/add" class="label label-info">编写述职报告</a></h1>

<div id="reportlist">
</div>


<script type="text/javascript">
 	var userid = 1;
	
	$(document).ready(function() {
		//userid = currentUserId();
/* 		$.get(getUrl("rest/work_report/") + userid, function(data) {
			$.each(data, function(index, objval){
				var attachment = objval["attachment"];
				var reporttime = objval["reportTime"];
				var content = objval["content"];
				$("#reportlist").append("<li>" + content + "<a href='" + attachment + "'>附件</a>");
			});
		}); */
		
		$.get(getUrl("rest/work_report/all"), function(data) {
			$.each(data, function(index, objval){
				var attachment = objval["attachment"];
				var reporttime = objval["reportTime"];
				var content = objval["content"];
				$("#reportlist").append(
						"<div class='panel panel-info'><div class='panel-heading'><h3 class='panel-title'>"
						+ "<div>" + getNowFormatDate(new Date(objval["reportTime"])) + " 述职报告</div>" 
						+ "</h3></div><div class='panel-body'>" + objval["content"] + "</div>" + "<a href='" + objval["attachment"] + "'>附件</a></div>");
			});
		});
	});
	
	function getNowFormatDate(day) 
	{ 
		var Year = 0; 
		var Month = 0; 
		var Day = 0; 
		var CurrentDate = ""; 

		Year= day.getFullYear();
		Month= day.getMonth()+1; 
		Day = day.getDate();
		CurrentDate += Year + "-"; 
		if (Month >= 10 ) 
		{ 
		CurrentDate += Month + "-"; 
		} 
		else 
		{ 
		CurrentDate += "0" + Month + "-"; 
		} 
		if (Day >= 10 ) 
		{ 
		CurrentDate += Day ; 
		} 
		else 
		{ 
		CurrentDate += "0" + Day ; 
		} 
		return CurrentDate; 
	} 
</script>

</body>
</html>